<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{member/layouts/layout}">
	<th:block layout:fragment="customJs">
		<script type="text/javascript">
	    	$('#noticeAnswer').on('show.bs.modal', function (event) {
		        var button = $(event.relatedTarget);  // 모달을 연 버튼
		        var questionCode = button.data('question-code');  // questionCode 가져오기
		        var inputQuestionCode = $(this).find('input[name="questionCode"]');
		        if (inputQuestionCode.length) {
		            inputQuestionCode.val(questionCode);  // 모달의 숨겨진 필드에 설정
		        }
		    });
	    	$('#noticeQuestionModify').on('show.bs.modal', function (event) {
		        var button = $(event.relatedTarget);  // 모달을 연 버튼
		        var questionCode = button.data('question-code');  // questionCode 가져오기
		        var questionContent = button.data('question-content');  
		        var inputQuestionCode = $(this).find('input[name="questionCode"]');
		        var inputQuestionContent = $(this).find('textarea[name="questionContent"]');

		        inputQuestionCode.val(questionCode);  // 모달의 숨겨진 필드에 설정
		        inputQuestionContent.val(questionContent);
		    });
	    	$('#noticeAnswerModify').on('show.bs.modal', function(event){
	    		var button = $(event.relatedTarget); 
	    		var answerCode = button.data('answer-code');
	    		var answerContent = button.data('answer-content');
	    		var inputAnswerCode = $(this).find('input[name="answerCode"]');
	    		var inputAnswerContent = $(this).find('textarea[name="answerContent"]');
	    		
	    		inputAnswerCode.val(answerCode);
	    		inputAnswerContent.val(answerContent);
	    	});

	    	$('#applyBtn').click(function(){
	    		let isSubmit = true;
	    		const searchId = $('#memberId').val();
	    		const mName = $('#memberName').val();
	    		const mEmail = $('#memberEmail').val();
	    		const mTelNo = $('#memberTelNo').val();
	    		
	    		const request= $.ajax({
	    			async: false,
	    			url : "/mentoring/applyCheck",
	    			method : 'POST',
	    			data : {'searchId' : searchId},
	    			dataType : 'json'
	    		});
	    		request.done(function(data){
	    			if(data.memberName != mName){
						alert('회원이름이 일치하지 않습니다.');
						isSubmit = false;
						$('#memberName').focus();
						return false;
					}else {
						if(data.memberEmail != mEmail){
							alert('회원이메일이 일치하지 않습니다.');
							isSubmit = false;
							$('#memberEmail').focus();
							return false;
						}else{
							if(data.memberTelNo != mTelNo){
								alert('휴대폰번호가 일치하지 않습니다.');
								isSubmit = false;
								$('#memberTelNo').focus();
								return false;
							}
						}
					}
					
				});
				request.fail(function(jqXHR, textStatus, error){
					console.log(error);
				});	
				
				if(isSubmit) $('#mentoringApplyForm').submit();
	    	});
	    	
	    	$('.question-btn').click(function(e){
	    		let isSubmit = true;
	    		e.preventDefault();
	    		const grade = $(this).data('grade');
	    		if(grade == null){
	    			alert('로그인이 필요한 서비스입니다.');
	    			isSubmit = false;
	    			return ;
	    		}else if(grade != 'member_level_mentee'){
	    			alert('멘티만 등록할 수 있습니다.');
	    			isSubmit = false;
	    			return ;
	    		}
	    		if(isSubmit) $('#noticeQuestion').modal('show');
	    	});
	    	
	    	$('.apply-btn').click(function(e){
	    		let isSubmit = true;
	    		e.preventDefault();
	    		const grade = $(this).data('grade');
	    		
	    		if(grade == null){
	    			alert('로그인이 필요한 서비스입니다.');
	    			isSubmit = false;
	    			return ;
	    		}else if(grade != 'member_level_mentee'){
	    			alert('멘티만 신청할 수 있습니다.');
	    			isSubmit = false;
	    			return ;
	    			}

	    		if(isSubmit) $('#mentoringApply').modal('show');
	    	});
	    	
	    	$('.answer-del-btn').click(function(e){
	    		e.preventDefault();
	    		if(confirm('정말로 삭제하시겠습니까?')){
	    			location.href = $(this).attr('href');
	    		}
	    	});
	    	
	    	$('.question-del-btn').click(function(e){
	    		e.preventDefault();
	    		const answerCode = $(this).data('answer-code');
	    		if (answerCode) {
	    			 alert('답변이 있어 삭제할 수 없습니다.');
	    	    } else {
	    	    	if (confirm('정말로 삭제하시겠습니까?')) {
	    	            location.href = $(this).attr('href');
	    	        }
	    	    }
	    		
	    	});

		</script>
   	</th:block>

    <th:block layout:fragment="customContent">
        <div class="container mb-30">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <div class="product-detail accordion-detail" th:object="${noticeDetail}">
                        <div class="row mb-50 mt-30" >
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="detail-info pr-30 pl-30">
                                    <span class="stock-status out-stock" th:if="*{honorMentor == 'Y'}"> 명예멘토 </span>
                                    <span class="stock-status out-stock" th:unless="*{honorMentor == 'Y'}"> 일반멘토 </span>
                                    <h2 class="title-detail" th:text="*{noticeTitle}"></h2>
                                    <div class="product-detail-rating">
                                        <div class="text-end">
                                                <span class="font-md ml-15" th:text="*{'닉네임 : ' + memberName}"></span><!-- (payCode=${p.paySettlementCalCode}) -->
                                            <span class="font-small ml-5 text-muted"><a th:href="@{/review/mentorReviewList(memberId=*{memberId})}">review</a></span>
                                        </div>
                                    </div>
                                    <div class="short-desc mb-30">
	                                   	<p class="font-md ml-15" th:text="*{'1회 멘토링 : '+ noticeUntprc +'원'}"></p>                                    
	                                   	<p class="font-md ml-15" th:text="*{'분야 : ' + topicName}"></p>                                    
	                                   	<p class="font-md ml-15" th:text="*{'현직 : ' + mentorPowkName}"></p>
                                    </div>
                                    <div class="detail-extralink mb-50">
                                   		<a class="button button-add-to-cart apply-btn" th:data-grade="${session.SLEVEL}">신청하기</a>                          
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:insert="~{member/mentoring/modal/mentoringApplyModal :: mentoringApply}"></div>
                        <div class="product-info">
                            <div class="tab-style3">
                                <ul class="nav nav-tabs text-uppercase">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="Description-tab" data-bs-toggle="tab" href="#Description">Description</a>
                                    </li>                                 
                                    <li class="nav-item">
                                        <a class="nav-link" id="Reviews-tab" data-bs-toggle="tab" href="#QnA">QnA</a>
                                    </li>
                                </ul>
                                <div class="tab-content shop_info_tab entry-main-content">
                                    <div class="tab-pane fade show active" id="Description">
                                        <div class="">
											<h4 class="mt-30">소개</h4>
                                            <ul class="product-more-infor mt-30">
                                                <li th:text=*{noticeContent}></li>
                                            </ul>
											<hr class="wp-block-separator is-style-wide" />
											<h4 class="mt-30">멘토링 가능 기간</h4>
											<ul class="product-more-infor mt-30">
	                                            <li th:text=*{mentoringPeriod}></li>
	                                        </ul>
                                            <hr class="wp-block-separator is-style-wide" />
                                            <h4 class="mt-30">멘토링 가능 스케줄</h4>
                                            <ul class="product-more-infor mt-30" th:each="m : ${mentoringTime}">   
                                                <li th:text="${m.mentoringTime}"></li>
                                            </ul>                                                                                       
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="QnA">
                                        <!--Comments-->
                                        <div class="comments-area">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <h4 class="mb-30">멘토링전 문의</h4>
                                                    <div class="comment-list">
	                                                    <div class="single-comment" th:each="nqa : ${noticeQnA}">
	                                                        <div class="single-comment justify-content-between d-flex mb-30">
	                                                            <div class="user justify-content-between d-flex">
	                                                                <div class="thumb text-center">
	                                                                    <a href="#" class="font-heading text-brand" th:text="${nqa.memberId}"></a>
	                                                                </div>
	                                                                <div class="desc">
	                                                                    <div class="d-flex justify-content-between mb-10">
	                                                                        <div class="d-flex align-items-center">
	                                                                            <span class="font-xs text-muted" th:text="${nqa.questionYmd}"></span>
	                                                                        </div>
	                                                                    </div>
	                                                                    <p class="mb-10" th:text="${nqa.questionContent}"></p>
		                                                                <a class="collapsed" data-bs-toggle="modal" data-bs-target="#noticeAnswer" th:attr="data-question-code=${nqa.questionCode}" th:if="${noticeDetail.memberId == session.SID}">답변하기</a>
		                                                                <a class="collapsed me-3" data-bs-toggle="modal" data-bs-target="#noticeQuestionModify" th:attr="data-question-code=${nqa.questionCode}, data-question-content=${nqa.questionContent}" th:if="${nqa.memberId == session.SID}">수정하기</a>
		                                                                <a class="collapsed question-del-btn" th:data-answer-code="${nqa.noticeAnswer}" th:href="@{/mentoring/removeNoticeQuestion(questionCode=${nqa.questionCode}, noticeCode=${noticeDetail.noticeCode})}" th:if="${nqa.memberId == session.SID}">삭제 하기</a>
	                                                                </div>                                                             
	                                                            </div>                                                           
	                                                        </div>
	                                                        <div class="single-comment justify-content-between d-flex mb-30 ml-30" th:if="${nqa.noticeAnswer != null}">
	                                                            <div class="user justify-content-between d-flex" >
	                                                                <div class="thumb text-center">
	                                                                    <a href="#" class="font-heading text-brand" th:text="${nqa.noticeAnswer.mentorId}"></a>
	                                                                </div>
	                                                                <div class="desc">
	                                                                    <div class="d-flex justify-content-between mb-10">
	                                                                        <div class="d-flex align-items-center">
	                                                                            <span class="font-xs text-muted" th:text="${nqa.noticeAnswer.answerYmd}"></span>
	                                                                        </div>
	                                                                    </div>
	                                                                    <p class="mb-10" th:text="${nqa.noticeAnswer.answerContent}"></p>
	                                                                    <a class="collapsed  me-3" data-bs-toggle="modal" data-bs-target="#noticeAnswerModify" th:attr="data-answer-code=${nqa.noticeAnswer.answerCode}, data-answer-content=${nqa.noticeAnswer.answerContent}" th:if="${nqa.noticeAnswer.mentorId == session.SID}">수정하기</a>
	                                                                    <a class="collapsed answer-del-btn" th:href="@{/mentoring/removeNoticeAnswer(answerCode=${nqa.noticeAnswer.answerCode}, noticeCode=${noticeDetail.noticeCode})}" th:if="${nqa.noticeAnswer.mentorId == session.SID}">삭제하기</a>
	                                                                </div>
	                                                            </div>
	                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="btn btn-block mt-30 question-btn" th:data-grade="${session.SLEVEL}">등록하기</a>
                                        <div th:insert="~{member/mentoring/modal/noticeQuestionModal :: noticeQuestion}"></div>
                                        <div th:insert="~{member/mentoring/modal/noticeQuestionModifyModal :: noticeQuestionModify}"></div>
                                        <div th:insert="~{member/mentoring/modal/noticeAnswerModal :: noticeAnswer}"></div>
                                        <div th:insert="~{member/mentoring/modal/noticeAnswerModifyModal :: noticeAnswerModify}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-fill-out btn-block mt-30" th:href="@{/mentoring/modifyNotice(noticeCode=${noticeDetail.noticeCode})}" th:if="${noticeDetail.memberId == session.SID}">수정하기</a>
                    </div>
                </div>
            </div>
		</div>
    </th:block>
</html>