<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{member/layouts/layout}">
	
<th:block class="main" layout:fragment="customContent">
<div class="page-content pt-50">
	<div class="container">
			<!-- 타이틀 후기 레이아웃 수정 필요~ -->
		    <h3 class="pb-30">목표 설정 내역 조회</h3>
		    <a href="" class="btn">목표 설정 추가</a>
		    <a href="/goal/recordList" class="btn">목표 진행 조회</a>
			<div class="row">
				<div class="col-lg-12">
					<div class="table-responsive">
				        <table class="table text-center">
				            <thead>
				                <tr>
				                    <th>순번</th>
				                    <th>카테고리</th>
				                    <th>제목</th>
				                    <th>상태</th>
				                    <th>등록일</th>
				                    <th>시작일</th>
				                    <th>종료일</th>
				                    <th colspan="3">처리</th>
				                </tr>
				            </thead>
				            <tbody>
				                <tr>
				                    <td>1</td>
									<td><b>자격증</b></td>
									<td>정처기 오늘부터 1일!!</td>
									<td><span class="badge rounded-pill alert-warning">시작전</span>
									</td>
									<td>03.12.2020</td>
									<td>03.12.2020</td>
									<td>03.12.2020</td>
									<td>
										<a href="" class="btn btn-md rounded font-sm">목표진행 작성</a>
									</td>
									<td>
										<a href="" class="btn btn-md rounded font-sm">수정</a>
									</td>
									<td>
										<a href="" class="btn btn-md rounded font-sm">삭제</a>
									</td>
				                </tr>
				                <tr>
				                    <td>2</td>
									<td><b>자격증</b></td>
									<td>정처기 오늘부터 1일!!</td>
									<td><span class="badge rounded-pill alert-success">진행중</span>
									</td>
									<td>03.12.2020</td>
									<td>03.12.2020</td>
									<td>03.12.2020</td>
									<td>
										<a href="" class="btn btn-md rounded font-sm">목표진행 작성</a>
									</td>
									<td>
										<a href="" class="btn btn-md rounded font-sm">수정</a>
									</td>
									<td>
										<a href="" class="btn btn-md rounded font-sm">삭제</a>
									</td>
				                </tr>
				                <tr>
				                    <td>3</td>
									<td><b>자격증</b></td>
									<td>정처기 오늘부터 1일!!</td>
									<td><span class="badge rounded-pill alert-danger">진행완료</span>
									</td>
									<td>03.12.2020</td>
									<td>03.12.2020</td>
									<td>03.12.2020</td>
									<td>
										<a href="" class="btn btn-md rounded font-sm">목표진행 작성</a>
									</td>
									<td>
										<a href="" class="btn btn-md rounded font-sm">수정</a>
									</td>
									<td>
										<a href="" class="btn btn-md rounded font-sm">삭제</a>
									</td>
				                </tr>
				            </tbody>
				        </table>
				    </div>
				</div>
			</div>
		</div>
	</div>
</th:block>

</html>