<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{member/layouts/layout}">
    <!--/* 기존 class는 main pages...  pages 누락 시 문제 없음
    	<main class="main pages"layout:fragment="content"> */-->	
    <th:block layout:fragment="customContent">
        <div class="container mb-80 mt-50">
            <div class="row">
                <div class="col-lg-8 mb-40">
                    <h1 class="heading-2 mb-10">자격증</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        <h3 class="mb-30">등록</h3>
                        <form id="addCertificateForm" method="post" th:action="@{/mypage/mentor/certificateAdd}">
                        	<input class="form-control" name="mentorId" type="hidden" th:value="${session.SID}"/>
		                        <div class="form-group col-lg-6">자격증명*
	                                <select class="form-select" name="mentorCertificateNm">
										<option value=""> ================== </option>
										<th:block>
											<option th:each="cic : ${certificateInfoCode}" th:value="${cic.nameCode}" th:text="${cic.certificateNm}"></option>
										</th:block>
									</select>
								</div>
								<div class="form-group col-lg-6">발급기관명*
	                                <select class="form-select" name="mentorInstitutionNm">
										<option> ================== </option>
										<th:block>
											<option th:each="cic : ${certificateInfoCode}" th:value="${cic.institutionCode}" th:text="${cic.institutionNm}"></option>
										</th:block>
									</select>
								</div>							
                                <div class="form-group col-lg-6">자격증 발급 날짜*
                                    <input type="date" name="mentorIssuYmd" required placeholder="자격증 발급 날짜 *">
                                </div>
                                <div class="form-group col-lg-6">
                                    <input type="text" name="mentorGrade" required placeholder="자격증 등급 *">
                                </div>
                                
                               <div class="form-group col-lg-6">자격증 증빙 자료*
							  <input type="file" name="mentorFileNm" accept="image/png, image/jpeg">
							  </div>
							<button class="submit submit-auto-width" type="submit">추가</button>
                        </form>
                    </div>
                </div>
             </div>
          </div>
    </th:block>
</html>