<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{member/layouts/layout}">
    <!--/* 기존 class는 main pages...  pages 누락 시 문제 없음
    	<main class="main pages"layout:fragment="content"> */-->	
    <th:block layout:fragment="customContent">
        <div class="container mb-80 mt-50">
            <div class="row">
                <div class="col-lg-8 mb-40">
                    <h1 class="heading-2 mb-10">근무 경력</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        <h3 class="mb-30">수정&삭제</h3>
                        <form id=modifyWorkForm method="post" th:action="@{/mypage/mentor/workModify}" th:object="${workInfo}" enctype="multipart/form-data">
                        		<input class="form-control" name="mentorWorkCode" type="hidden" th:value="*{mentorWorkCode}"/>
                        		<input class="form-control" name="mentorFileNm" type="hidden" th:value="*{mentorFileNm}"/>
                                <div class="form-group col-lg-6">
                                    <input type="text" required name="mentorPowkNm" placeholder="회사명 *" th:value="*{mentorPowkNm}">
                                </div>
                                <div class="form-group col-lg-6">
                                    <input type="text" required name="mentorTask" placeholder="담당 업무 *" th:value="*{mentorTask}">
                                </div>
                                <div class="form-group col-lg-6">입사날짜
                                    <input type="date" name="mentorJncmpYmp" required placeholder="입사날짜 *" th:value="*{mentorJncmpYmp}">
                                </div>
                                <div class="form-group col-lg-6">퇴사날짜
                                    <input type="date" name="mentorRsgntnYmp" required placeholder="퇴사날짜 *" th:value="*{mentorRsgntnYmp}">
                                </div>
                                <div class="form-group col-lg-6">
                                    <select class="form-select" name="mentorStatus" required>
										<option th:text="*{mentorStatus}">  </option>
										<option th:unless="*{mentorStatus}=='재직 중'"> 재직 중 </option>
										<option th:unless="*{mentorStatus}=='퇴사'"> 퇴사 </option>
									</select>
                                </div>
                                <div class="form-group col-lg-6">
                                	<span>파일을 등록하고 수정시 기존 파일은 삭제 됩니다*</span>
                                	<span><input type="file" name="files" multiple></span>
                                	<span><a th:href="@{/mypage/mentor/download(mentorFileNm=*{mentorFileNm})}">등록되어 있는 파일확인 (다운로드)</a></span>
							  	</div>
							<button class="button rounded btn-md" type="submit">수정</button>
							<a class="button rounded btn-md" th:href="@{/mypage/mentor/workRemove(mentorFileNm=*{mentorFileNm}, mentorWorkCode=*{mentorWorkCode})}">삭제</a>
                        </form>
                    </div>
                </div>
             </div>
          </div>
    </th:block>
</html>