<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{member/layouts/layout}">
    <!--/* 기존 class는 main pages...  pages 누락 시 문제 없음
    	<main class="main pages"layout:fragment="content"> */-->	
    <th:block layout:fragment="customContent">
        <div class="container mb-80 mt-50">
            <div class="row">
                <div class="col-lg-8 mb-40">
                    <h1 class="heading-2 mb-10">근무 경력</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        <h3 class="mb-30">수정&삭제</h3>
                        <form id=modifyWorkForm method="post" th:action="@{/mypage/mentor/workModify}" th:object="${workInfo}">
                        		<input class="form-control" name="mentorWorkCode" type="hidden" th:value="*{mentorWorkCode}"/>
                                <div class="form-group col-lg-6">
                                    <input type="text" required name="mentorPowkNm" placeholder="회사명 *" th:value="*{mentorPowkNm}">
                                </div>
                                <div class="form-group col-lg-6">
                                    <input type="text" required name="mentorTask" placeholder="담당 업무 *" th:value="*{mentorTask}">
                                </div>
                                <div class="form-group col-lg-6">입사날짜
                                    <input type="date" name="mentorJncmpYmp" required placeholder="입사날짜 *" th:value="*{mentorJncmpYmp}">
                                </div>
                                <div class="form-group col-lg-6">퇴사날짜
                                    <input type="date" name="mentorRsgntnYmp" required placeholder="퇴사날짜 *" th:value="*{mentorRsgntnYmp}">
                                </div>
                                <div class="form-group col-lg-6">
                                    <select class="form-select" name="mentorStatus" required>
										<option th:text="*{mentorStatus}">  </option>
										<option th:unless="*{mentorStatus}=='재직 중'"> 재직 중 </option>
										<option th:unless="*{mentorStatus}=='퇴사'"> 퇴사 </option>
									</select>
                                </div>
                               <div class="form-group col-lg-6">
							  <input type="file" name="mentorFileNm" accept="image/png, image/jpeg" th:value="*{mentorFileNm}">
						 <!--  <tr th:unless="${#lists.isEmpty(fileList)}"
									th:each="l, status : ${fileList}">
									<td th:text="${status.count}"></td>
						  			<td>
										<a th:href="@{/removeFile(fileIdx=${l.fileIdx})}">삭제</a>
									</td>
								</tr> -->
							  </div>
							<button class="submit submit-auto-width" type="submit">수정</button>
							<button class="submit submit-auto-width" type="submit">삭제</button>
                        </form>
                    </div>
                </div>
             </div>
          </div>
    </th:block>
</html>