<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{member/layouts/layout}">
    <!--/* 기존 class는 main pages...  pages 누락 시 문제 없음
    	<main class="main pages"layout:fragment="content"> */-->	
    <th:block layout:fragment="customContent">
        <div class="container mb-80 mt-50">
            <div class="row">
                <div class="col-lg-8 mb-40">
                    <h1 class="heading-2 mb-10">학력</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        <h3 class="mb-30">수정&삭제</h3>
                        <form id="modifyEducationInfo" method="post" th:action="@{/mypage/mentor/educationModify}" th:object="${educationInfo}">
                        		<input class="form-control" name="mentorEducationCode" type="hidden" th:value="*{mentorEducationCode}"/>
                                <div class="form-group col-lg-6">
                                    <input type="text" required name="mentorSchoolNm" placeholder="학교명 *" th:value="*{mentorSchoolNm}">
                                </div>
                                <div class="form-group col-lg-6">
                                    <input type="text" required name="mentorCredits" placeholder="학점 *" th:value="*{mentorCredits}">
                                </div>
                                <div class="form-group col-lg-6">
                                    <input type="text" name="mentorScsbjtNm" required placeholder="학과(전공) *" th:value="*{mentorScsbjtNm}">
                                </div>
                                 <div class="form-group col-lg-6">졸업/수료 *
	                                <select class="form-select" name="mentorSection">
	                                	<option th:text="*{mentorSection}">  </option>
										<option th:unless="*{mentorSection}=='졸업'"> 졸업 </option>
										<option th:unless="*{mentorSection}=='수료'"> 수료 </option>
									</select>
								</div>
								<div class="form-group col-lg-6">입학날짜
                                    <input type="date" name="mentorMtctYmd" required placeholder="입학날짜 *" th:value="*{mentorMtctYmd}">
                                </div>
                                <div class="form-group col-lg-6">졸업날짜
                                    <input type="date" name="mentorGdtYmd" required placeholder="졸업날짜 *" th:value="*{mentorGdtYmd}">
                                </div>
                               <div class="form-group col-lg-6">학력파일
							  <input type="file" name="mentorFileNm" accept="image/png, image/jpeg" th:value="*{mentorFileNm}">
							  </div>
							<button class="submit submit-auto-width" type="submit">수정</button>
							<button class="submit submit-auto-width" type="submit">삭제</button>
                        </form>
                    </div>
                </div>
             </div>
          </div>
    </th:block>
</html>