<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{manager/layouts/layout}">
	  <th:block layout:fragment="customContent">
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">멘티 목표 설정 화면</h2>
                        <p>멘티의 목표 설정 내역 조회 화면</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>회원(멘티)ID</th>
                                        <th>목표 카테고리</th>
                                        <th>목표 제목</th>
                                        <th>목표 내용</th>
                                        <th>목표 설정 등록일</th>
                                        <th>목표 진행 상태</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="gl : ${goalList}">
                                        <td th:text="${gl.memberId}"></td>
                                        <td th:text="${gl.goaltopic.topicName}"></td>
										<td th:text="${gl.goalName}">목표 제목</td>
										<td th:text="${gl.goalContent}">목표 내용</td>
                                        <td th:text="${gl.goatAddDate}">2024-07-03 20:00:00</td>
                                        <!-- alert-success alert-warning alert-danger -->
                                        <th:block th:switch="${gl.goalStatus}">
                                        	<td th:case="${'시작 전'}"><span th:text="${gl.goalStatus}" class="badge rounded-pill" th:classappend="${'alert-warning'}"></span></td>
                                        	<td th:case="${'진행 중'}"><span th:text="${gl.goalStatus}" class="badge rounded-pill" th:classappend="${'alert-danger'}"></span></td>
                                        	<td th:case="${'완료'}" ><span th:text="${gl.goalStatus}" class="badge rounded-pill" th:classappend="${'alert-success'}"></span></td>
                                        </th:block>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive//end -->
                    </div>
                    <!-- card-body end// -->
                </div>
                <div class="pagination-area mt-30 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">16</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
		</section>
      <!-- content-main end// -->
      </th:block>
</html>
