<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{manager/layouts/layout}">
	  <th:block layout:fragment="customContent">
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">휴면 회원 정보 조회</h2>
                        <p>6개월(기준 183일) 이상 로그인하지 않은 회원의 정보를 조회합니다.</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row gx-3">
                            <div class="col-lg-4 col-md-6 me-auto">
                                <input type="text" placeholder="Search..." class="form-control" />
                            </div>
                            
                        </div>
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr class="text-center">
                                        <th>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" />
                                            </div>
                                        </th>
										<th>회원ID</th>
										<th>회원이메일</th>
										<th>회원비밀번호</th>
										<th>비밀번호찾기 답변</th>
										<th>회원권한</th>
										<th>회원이름</th>
										<th>회원연락처</th>
										<th>가입일자</th>
										<th>미접속일수</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="dm:${dormantMemberList.contents}" class="text-center">
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" />
                                            </div>
                                        </td>
										<td th:text="${dm.memberId}"></td>
                                        <td th:text="${dm.memberEmail}"></td>
										<td th:text="${dm.memberPw}"></td>
										<td th:text="${dm.memberPwAnswer}"></td>
										<td>
											<span th:if="${dm.memberLevel == '멘티'}" class="badge rounded-pill alert-success">멘티</span>
										    <span th:if="${dm.memberLevel == '멘토'}" class="badge rounded-pill alert-warning">멘토</span>
										    <span th:if="${dm.memberLevel == '플랫폼 관리자'}" class="badge rounded-pill alert-danger">플랫폼 관리자</span>
										</td>
                                        <td th:text="${dm.memberName}"></td>
                                        <td th:text="${dm.memberTelNo}"></td>
                                        <td th:text="${dm.memberJoinYMD}"></td>
										<td th:text="${dm.dormantDays}"></td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive//end -->
                    </div>
                    <!-- card-body end// -->
                <div class="pagination-area mt-30 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
					    	<li class="page-item" th:classappend="${dormantMemberList.currentPage < 2}? 'disabled'">
								<a class="page-link d-flex justify-content-center align-items-center" th:href="@{/manager/member/dormantList(currentPage=${dormantMemberList.currentPage - 1})}"><i class="material-icons md-chevron_left"></i></a>
							</li>
					        <th:block th:each="num : ${#numbers.sequence(dormantMemberList.startPageNum, dormantMemberList.endPageNum)}">
					            <li class="page-item"
					                th:classappend="${dormantMemberList.currentPage == num} ? 'active'">
					                <a class="page-link" th:href="@{/manager/member/dormantList(currentPage=${num})}">[[${num}]]</a>
					            </li>
					        </th:block>
					        <li class="page-item" th:classappend="${dormantMemberList.currentPage >= dormantMemberList.lastPage} ? 'disabled'">
					            <a class="page-link d-flex justify-content-center align-items-center" th:href="@{/manager/member/dormantList(currentPage=${dormantMemberList.currentPage + 1})}"><i class="material-icons md-chevron_right"></i></a>
					        </li>
					    </ul>
                    </nav>
                </div>
			</section>
	<!-- content-main end// -->
	</th:block>
</html>
