<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{manager/layouts/layout}">
	<th:block layout:fragment="customContent">
            <section class="content-main">
                <div class="content-header">
                    <div>
	                    <h2 class="content-title">신규 가입 회원 조회</h2>
						<p>한 달 내 가입한 회원의 정보를 조회합니다.</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row gx-3">
                            <div class="col-lg-4 col-md-6 me-auto">
                                <input type="text" placeholder="Search..." class="form-control" />
                            </div>
                        </div>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4">
                            <!-- col.// -->
                            <div class="col"  th:each="mml:${monthMemberList}">
                                <div class="card card-user">
                                    <div class="card-header">
                                        <img class="img-md img-avatar" src="/manager/imgs/people/user-avatar.png" alt="User pic" />
                                    </div>
                                    <div class="card-body">
											
                                        <h5 class="card-title mt-50" th:text="${mml.memberId}"></h5>
                                        <div class="card-text text-muted">
                                            E-mail<p th:text="${mml.memberEmail}"></p>
                                            가입일자<p th:text="${mml.memberJoinYMD}"></p>
											<p th:if="${mml.memberLevel == '멘티'}" class="m-0 badge rounded-pill alert-success">멘티</p>
										    <p th:if="${mml.memberLevel == '멘토'}" class="m-0 badge rounded-pill alert-warning">멘토</p>
										    <p th:if="${mml.memberLevel == '플랫폼 관리자'}" class="m-0 badge rounded-pill alert-danger">플랫폼 관리자</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- col.// -->
                        </div>
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
                <div class="pagination-area mt-15 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">16</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
            <!-- content-main end// -->
	</th:block>
</html>
