<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{manager/layouts/layout}">
	<th:block layout:fragment="customContent">
            <section class="content-main">
                <div class="content-header">
                    <h2 class="content-title">회원탈퇴 승인</h2>
                    <div>
                        <a href="#" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
                    </div>
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row gx-3">
                            <div class="col-lg-4 col-md-6 me-auto">
                                <input type="text" placeholder="Search..." class="form-control" />
                            </div>
                            <div class="col-lg-2 col-md-3 col-6">
                                <select class="form-select">
                                    <option>Status</option>
                                    <option>Active</option>
                                    <option>Disabled</option>
                                    <option>Show all</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-3 col-6">
                                <select class="form-select">
                                    <option>Show 20</option>
                                    <option>Show 30</option>
                                    <option>Show 40</option>
                                </select>
                            </div>
                        </div>
                    </header>
                    <!-- card-header end// -->
					<div class="card-body">
					    <div class="table-responsive">
					        <table class="table thead-light text-center table-hover">
                                <thead>
                                    <tr>
										<th>탈퇴코드</th>
	                                    <th>탈퇴사유</th>
										<th>회원권한</th>
	                                    <th>ID</th>
	                                    <th>탈퇴요청일자</th>
                                        <th>상태</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                        	<h6>Eleanor Pena</h6>
                                        </td>
                                        <td>eleanor2020@example.com</td>
										<td>권한</td>
                                        <td>ID</td>
                                        <td>요청일자</td>
                                        <td>
                                            <a href="#" class="btn btn-sm btn-brand rounded font-sm mt-15">승인</a>
                                            <a href="#" class="btn btn-sm btn-brand rounded font-sm mt-15">거부</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        	<h6>Eleanor Pena</h6>
                                        </td>
                                        <td>eleanor2020@example.com</td>
										<td>권한</td>
                                        <td>ID</td>
                                        <td>요청일자</td>
                                        <td>
                                         탈퇴완료
                                        </td>
                                    </tr>
  
                                </tbody>
                            </table>
                            <!-- table-responsive.// -->
                        </div>
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
                <div class="pagination-area mt-15 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">16</a></li>
                                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
            <!-- content-main end// -->
    </th:block>
</html>
