<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{manager/layouts/layout}">
	<th:block layout:fragment="customJs">
		<script>
			function checkPassword(memberPw) {
			    return $.ajax({
			        type: 'POST',
			        url: '/member/checkPw',
			        data: { 'memberPw': memberPw },
			        dataType: 'json'
			    });
			}

			function approvalMentor(memberId, actionType) {
			    const mentorApprovalReason = $("select[name='mentorApprovalReason']").val();
			    
			    return $.ajax({
			        type: 'POST',
			        url: '/manager/member/mentorApproval',
			        data: {
			            'memberId': memberId,
			            'actionType': actionType,
			            'mentorApprovalReason': mentorApprovalReason
			        },
			        dataType: 'text'
			    });
			}

			$('.applyDenyBtn').click(function(event) {
			    const actionType = $(this).data("action-type");
			    const memberId = $(this).data('member-id');
				
				const mentorApprovalReason = $("select[name='mentorApprovalReason']").val();

				if (!mentorApprovalReason) {
				    alert("승인/반려 사유를 선택해 주세요.");
				    return;
				}


			    const memberPw = prompt("관리자 비밀번호를 입력하세요 : ");
			    if (!memberPw) {
			        alert("비밀번호를 입력해 주세요.");
			        return;
			    }

			    checkPassword(memberPw).done(function(isCheck) {
			        if (isCheck) {
			            approvalMentor(memberId, actionType).done(function(isApprove) {
			                if (isApprove === '1') {
			                    alert('멘토 승인 및 반려 완료.');
			                    location.reload();
			                } else {
			                    alert("멘토 승인 오류입니다.");
			                }
			            }).fail(function() {
			                alert('멘토 승인 시 ERROR');
			            });
			        } else {
			            alert("비밀번호가 잘못되었습니다.");
			        }
			    }).fail(function() {
			        alert('검증 ERROR');
			    });
			});
		</script>
	</th:block>

	<th:block layout:fragment="customContent">
		<section class="content-main">
			<div class="content-header">
				<h2 class="content-title">신규 멘토 승인</h2>
			</div>
			<div class="card mb-4">
				<header class="card-header">
					<div class="row gx-3">
						<div class="col-lg-4 col-md-6 me-auto">
							<input type="text" placeholder="Search..." class="form-control" />
						</div>
					</div>
				</header>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table thead-light text-center table-hover">
							<thead>
								<tr>
									<th>회원정보</th>
									<th>이메일</th>
									<th>연락처</th>
									<th>가입일자</th>
									<th>첨부파일</th>
									<th>승인/반려 사유</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<input type="hidden" name="actionType" id="actionType" value="" />
								<input type="hidden" name="memberId" id="memberId" value="" />
								<tr th:each="wfam : ${waitingForApprovalMentorList}">
									<td>
										<a href="#">
											<img src="/manager/imgs/people/user-avatar.png" class="img-sm img-avatar" alt="Userpic" />
											<div>
												<h6 class="mb-0 title" th:text="${wfam.memberId}"></h6>
												<small class="text-muted" th:text="${wfam.memberName}"></small>
											</div>
										</a>
									</td>
									<td th:text="${wfam.memberEmail}"></td>
									<td th:text="${wfam.memberTelNo}"></td>
									<td th:text="${wfam.memberJoinYMD}"></td>
									<td>파일.png</td>
									<td>
										<div class="d-flex justify-content-center">
											<select class="w-75 text-center p-1" name="mentorApprovalReason">
												<option value="">--- 사유 선택 ---</option>
												<option value="플랫폼 내부 기준 만족">승인 : 플랫폼 내부 기준 만족</option>
												<option value="경력 미달">거부 : 경력 미달</option>
												<option value="기타 사유">기타 사유</option>
											</select>
										</div>
									</td>
									<td>
										<button type="button" class="btn btn-sm btn-brand rounded font-sm applyDenyBtn" th:data-member-id="${wfam.memberId}" data-action-type="approve">승인</button>
										<button type="button" class="btn btn-sm btn-brand rounded font-sm applyDenyBtn" th:data-member-id="${wfam.memberId}" data-action-type="deny">거부</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
	</th:block>
</html>