<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks52team02.manager.honor.mapper.ManagerHonorMapper">
	
	
	<select id="getHornorMentorList" resultType="Member">
		SELECT 
			member_id AS memberId, 
			member_email AS memberEmail, 
			member_name AS memberName, 
			member_phone_number AS memberTelNo, 
			member_join_YMD AS memberJoinYMD
		FROM 
			`member`
		WHERE 
			member_id IN 
			<foreach item="honorMenotrId" index="index" open="(" separator="," close=")" collection="list">
				#{honorMenotrId}
			</foreach>
	</select>
	
	
	<select id="getHonorMentorIdList" resultType="string">
		/* 명예멘토 */
		SELECT
			member_id
		FROM
			mentor_authority_approval
		WHERE 
			honor_mentor_YN = 'Y';
	</select>
</mapper>