<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks52team02.member.mentoring.mapper.MentoringMapper">
	
	<select id="getTopicList" resultType="Topic">
		/* 주제카테고리조회 */
		SELECT
			tc.topic_category_code AS topicCode,
			tc.topic_name AS topicName
		FROM
			topic_category tc;
	
	</select>


	<select id="getNoticeList" resultType="NoticeList">
		/* 공고목록조회 */		
		SELECT
		    mn.mentoring_notice_title AS noticeTitle,
		    mn.member_id AS memberId,
		    tc.topic_name AS topicName,
		    COALESCE(mwhd.mentor_POWK_NM, mw2.mentor_POWK_NM) AS mentorPowkName
		FROM
			topic_category tc
			INNER JOIN mentoring_notice mn
			    ON tc.topic_category_code = mn.topic_category_code
			INNER JOIN member m
			    ON mn.member_id = m.member_id
			LEFT JOIN mentor_work_history_details mwhd
			    ON m.member_id = mwhd.member_id
			    AND mwhd.mentor_RSGNTN_YMD = (
			        SELECT MAX(mentor_RSGNTN_YMD)
			        FROM mentor_work_history_details
			        WHERE member_id = m.member_id
			    )
			LEFT JOIN mentor_work_history_details mw2
			    ON m.member_id = mw2.member_id
			    AND mw2.mentor_RSGNTN_YMD IS NULL;
	</select>
</mapper>