<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks52team02.manager.review.mapper.ManagerReviewMapper">

	<resultMap type="Review" id="mentoringAllReivewMap">
		<id column="mentoring_postscript_code" 					property="reviewCode"/>
		<result column="mentee_id" 								property="menteeId"/>	
		<result column="mentee_settlement_mentor_calculation" 	property="settlementCalCode"/>	
		<result column="mentoring_postscript_content" 			property="reviewContent"/>	
		<result column="mentoring_postscript_score" 			property="reviewScore"/>	
		<result column="mentoring_postscript_date" 				property="reviewRegDate"/>	
	</resultMap>
	
	<resultMap type="MentorReviewData" id="MentorReviewDataMap">
		<id column="mentor_postscript_and_score_average_code" property="mentorReviewAvgCntCode"/>
		<result column="mentor_id" property="mentorId"/>
		<result column="count_postscript" property="mentorReviewCnt"/>
		<result column="average_postscript_point" property="mentorReviewAvg"/>
		<result column="first_postscript_register_time" property="firstRegDate"/>
		<result column="first_postscript_register_time" property="lastUpDate"/>
		<result column="honor_mentor_YN" property="isHonorMentor"/>
		<result column="honor_mentor_isapprove" property="isapprove"/>
		<result column="honor_mentor_isCancel" property="isCancel"/>
	</resultMap>
	
	
	<delete id="removeReview">
		/* 후기 삭제 */
		DELETE 
		FROM 
			mentoring_postscript 
		WHERE mentoring_postscript_code = #{reviewCode};
	
	</delete>
	
	<select id="getMentorReviewsDataList" resultMap="MentorReviewDataMap">
		/* 관리자 전체 멘토의 후기 관련 데이터 조회 */
		SELECT 
			mpsa.mentor_postscript_and_score_average_code, 
			mpsa.mentor_id, 
			mpsa.count_postscript, 
			mpsa.average_postscript_point, 
			mpsa.first_postscript_register_time,  
			mpsa.last_postscript_update_time,
			map.honor_mentor_YN,
			mpsa.honor_mentor_isapprove,
			mpsa.honor_mentor_isCancel
		FROM
			mentor_postscript_score_average mpsa INNER JOIN mentor_authority_approval map
			ON mpsa.mentor_id = map.member_id;
	</select>
	
	
	<select id="getAllMentoringReviewList" resultMap="mentoringAllReivewMap">
		/* 전체 후기 조회 */
		SELECT 
			mentoring_postscript_code, 
			mentee_id, 
			mentoring_postscript_content,
			mentoring_postscript_score, 
			mentoring_postscript_date
		FROM 
			mentoring_postscript
	
	</select>
</mapper>