<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div class="filter-container" th:fragment="filter">
	    <div class="filter">
	        <label for="year">FILTER</label>
	        <select id="fl-mtc-btn-4">
	            <option value="all">전체 년도</option>
	            <option value="2024">2024</option>
	            <option value="2023">2023</option>
	            <!-- 다른 옵션 추가 가능 -->
	        </select>
	
	        <select id="fl-mtc-btn-4">
	            <option value="all">전체 월</option>
	            <option value="1">1월</option>
	            <option value="2">2월</option>
	            <option value="3">3월</option>
	            <option value="4">4월</option>
	            <option value="5">5월</option>
	            <option value="6">6월</option>
	            <option value="7">7월</option>
	            <option value="8">8월</option>
	            <option value="9">9월</option>
	            <option value="10">10월</option>
	            <option value="11">11월</option>
	            <option value="12">12월</option>
	            <!-- 다른 옵션 추가 가능 -->
	        </select>
	        <!-- <input type="text" class="fl-mtc-btn-2" th:if="${session.SLEVEL == 'member_level_mentor'}" placeholder="멘티 아이디 검색" />
	        <input type="text" class="fl-mtc-btn-2" th:if="${session.SLEVEL == 'member_level_mentee'}" placeholder="멘토 아이디 검색" /> -->
	        <div class="fl-mtc-btn-1">
	            <a href="#" class="btn btn-md rounded font-sm">click</a>
	        </div>
	    </div>
	    <div class="status">
	        <span>STATUS</span>
	        <span id="before" class="status-option">• 진행전</span>
	        <span id="progress" class="status-option">• 진행중</span>
	        <span id="completed" class="status-option">• 진행완료</span>
	    </div>
	</div>
</html>