<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{member/layouts/layout}">
	
	<th:block layout:fragment="customContent">
    <!--/* 기존 main class는 <main class="main pages mb-80" layout:fragment="content"> 
    			main class pages mb-80 누락 시 문제 없음 */-->
        <div class="page-content pt-50">
            <div class="container">
                <div class="archive-header-2 text-center">
                    <h1 class="display-10 mb-50">명예멘토 List</h1>
                    <div class="row">
						<div class="col-lg-5 mx-auto">
						    <div class="sidebar-widget-2 widget_search mb-50">
						        <div class="search-form">
						            <form method="get" th:action="@{/honor/mentorListIdSearch}">
						                <input type="text" placeholder="로그인하여 ID로 명예멘토를 검색해 보세요" name="keyId" />
						                <button type="submit"><i class="fi-rs-search"></i></button>
						            </form>
						        </div>
						    </div>
						</div>
                    </div>
                </div>
                <div class="row mb-50">
				</div> 
                <div class="row vendor-grid">
                    <div class="col-lg-3 col-md-6 col-12 col-sm-6" th:each="hm:${honorMentorList.contents}">
                        <div class="vendor-wrap mb-40">
                            <div class="vendor-img-action-wrap">
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="hot">명예멘토</span>
                                </div>
                            </div>
                            <div class="vendor-content-wrap">
                                <div class="d-flex justify-content-between align-items-end mb-30">
                                    <div>
                                        <h4 class="mb-5"><a href="#" th:text="${hm.memberId}"></a></h4>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 90%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (4.0)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="vendor-info mb-30">
                                    <ul class="contact-infor text-muted">
                                        <li><img src="/member/imgs/theme/icons/icon-location.svg" alt="" /><strong>E-mail : </strong><span th:text="${hm.memberEmail}"></span></li>
                                        <li><img src="/member/imgs/theme/icons/icon-contact.svg" alt="" /><strong>Tel : </strong><span th:text="${hm.memberTelNo}"></span></li>
                                    </ul>
                        		</div>
                    		</div>
                		</div>
            		</div>
				<div class="pagination-area mt-20 mb-20">
				    <nav aria-label="Page navigation example">
				       <ul class="pagination justify-content-start">
				            <th:block th:each="num : ${#numbers.sequence(honorMentorList.startPageNum, honorMentorList.endPageNum)}">
					            <li class="page-item"
					                th:classappend="${honorMentorList.currentPage == num} ? 'active'">
					                <a class="page-link cate-list" th:href="@{/honor/mentorList(currentPage=${num}, keyId=${keyId})}" th:if ="${num} != 0">[[${num}]]</a>
					            </li>
				       		</th:block>
				            <li class="page-item" th:classappend="${honorMentorList.currentPage >= honorMentorList.lastPage} ? 'disabled'">
				                <a class="page-link cate-list" th:href="@{/honor/mentorList(currentPage=${honorMentorList.currentPage + 1}, keyId=${keyId})}"><i class="fi-rs-arrow-small-right"></i></a>
				            </li>
				        </ul>
				    </nav>
				</div>
        	</div>
    </th:block>
</html>