<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{member/layouts/layout}">
    <th:block layout:fragment="customContent">
    <!--/* 기존 main class는 <main class="main pages mb-80" layout:fragment="content"> 
    			main class pages mb-80 누락 시 문제 없음 */-->
        <div class="page-content pt-50">
            <div class="container">
                <div class="archive-header-2 text-center">
                    <h1 class="display-10 mb-50">멘토 리스트</h1>
                    <div class="row">
                        <div class="col-lg-5 mx-auto">
                            <div class="sidebar-widget-2 widget_search mb-50">
                                <div class="search-form">
                                    <form method="get" th:action="@{/mentor/listMentorIdSearch}">
                                        <input type="text" placeholder="로그인하여 ID로 멘토를 검색해 보세요" name="keyId" />
                                        <button type="submit"><i class="fi-rs-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-50">
                </div>
                <div class="row vendor-grid">
                    <div class="col-lg-3 col-md-6 col-12 col-sm-6" th:each="ml:${mentorList.contents}">
                        <div class="vendor-wrap mb-40">
                            <div class="vendor-content-wrap">
                                <div class="d-flex justify-content-between align-items-end mb-30">
                                    <div>
                                        <div class="product-category">
                                            <span class="text-muted" th:if="${ml.isHonorMentor == 'Y'}">명예멘토</span>
                                            <span class="text-muted" th:if="${ml.isHonorMentor == 'N'}">멘토</span>
                                        </div>
                                        <h4 class="mb-5"><a href="#" th:text="${ml.memberId}"></a></h4>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 90%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (4.0)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="vendor-info mb-30">
                                    <ul class="contact-infor text-muted">
                                        <li><img src="/member/imgs/theme/icons/icon-location.svg" alt="" /><strong>E-mail : </strong><span th:text="${ml.memberEmail}"></span></li>
                                        <li><img src="/member/imgs/theme/icons/icon-contact.svg" alt="" /><strong>Tel : </strong><span th:text="${ml.memberTelNo}"></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end vendor card-->
                </div>
                <div class="pagination-area mt-20 mb-20">
					<nav aria-label="Page navigation example">
					    <ul class="pagination justify-content-start">
					    	<li class="page-item" th:classappend="${mentorList.currentPage < 2}? 'disabled'">
								<a class="page-link d-flex justify-content-center align-items-center" th:href="@{/mentor/list(currentPage=${mentorList.currentPage - 1}, keyId=${keyId})}"><i class="material-icons md-chevron_left"></i></a>
							</li>
					        <th:block th:each="num : ${#numbers.sequence(mentorList.startPageNum, mentorList.endPageNum)}">
					            <li class="page-item"
					                th:classappend="${mentorList.currentPage == num} ? 'active'">
					                <a class="page-link" th:href="@{/mentor/list(currentPage=${num}, keyId=${keyId})}">[[${num}]]</a>
					            </li>
					        </th:block>
					        <li class="page-item" th:classappend="${mentorList.currentPage >= mentorList.lastPage} ? 'disabled'">
					            <a class="page-link d-flex justify-content-center align-items-center" th:href="@{/mentor/list(currentPage=${mentorList.currentPage + 1}, keyId=${keyId})}"><i class="material-icons md-chevron_right"></i></a>
					        </li>
					    </ul>
					</nav>
                </div>
            </div>
        </div>
    </th:block>
</html>