<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{member/layouts/layout}">
	
	<th:block layout:fragment="customJsFile">
		<!-- Invoice JS -->
		<script src="/member/js/invoice/jspdf.min.js"></script>
		<script src="/member/js/invoice/invoice.js"></script>
	</th:block>
	
	<th:block layout:fragment="customContent">
	    <div class="invoice invoice-content invoice-6" layout:fragment="content">
	        <div class="back-top-home hover-up mb-30 mt-30 ml-200">
	            <a class="hover-up pl-100" href="/portfolio/list"><i class="fi-rs-home mr-5"></i> 다른 포트폴리오 보러 가기</a>
	        </div>
	        <div class="container" th:object="${portfolioDetail}">
	            <div class="row">
	                <div class="col-lg-12">
	                    <div class="invoice-inner">
	                        <div class="invoice-info" id="invoice_wrapper">
	                            <div class="invoice-header">
	                                <div class="invoice-icon">
	                                    <img src="/member/imgs/theme/icons/icon-invoice.svg" class="img-fluid" alt="">
	                                </div>
	                                <div class="row align-items-center">
	                                    <div class="col-md-6">
	                                        <div class="logo">
	                                            <img src="/manager/imgs/theme/Preview.png" alt="logo" />
	                                        </div>
	                                    </div>
	                                    <div class="col-md-6 text-end">
	                                        <h2 class="mb-0" th:text="*{portfolioTitle}"></h2>
	                                    </div>
	                                </div>
	                                <div class="row mt-20">
	                                    <div class="col-12">
	                                        <div class="hr mb-10"></div>
	                                    </div>
	                                    <div class="col-lg-4">작성자 아이디: 
	                                        <strong class="text-brand" th:text="*{portfolioId}"></strong>
	                                    </div>
	                                    <div class="col-12">
	                                        <div class="hr mt-10"></div>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="invoice-center">
	                                 <h5 th:text="*{portfolioContent}"></h5>
	                            </div>
	                            <div class="invoice-bottom pb-80">
	                            	<div class="hr mt-30 mb-30"></div>
	                                <div class="row">
	                                    <div class="col-md-6 ">
	                                        <h5 class="mb-15">등록일</h5>
	                                    </div>
	                                    <div class="col-md-6 text-end">
	                                        <h3 class="mt-0 mb-0 text-brand" th:text="*{portfolioDate}"></h3>
	                                    </div>
	                                </div>
	                                <div class="row text-center">
	                                    <div class="col-12">
	                                        <div class="hr mt-30 mb-30"></div>
	                                        <p class="mb-0 text-muted"><strong>Note:</strong>This is computer generated receipt and does not require physical signature.</p>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="invoice-btn-section clearfix d-print-none">
	                            <a id="invoice_download_btn" class="btn btn-lg btn-custom btn-download hover-up"><img src="/member/imgs/theme/icons/icon-download.svg" alt="" /> 다운로드 </a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</th:block>
</html>