<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<footer class="main" th:fragment="footerFragment">
		<div class="container pb-30 mt-100 wow animate__animated animate__fadeInUp" data-wow-delay="0">
	        <div class="row align-items-center">
	            <div class="col-12 mb-30">
	                <div class="footer-bottom"></div>
	            </div>
	            <!-- 
	            <div class="logo mb-15">
	                <a href="/" class="mb-15"><img src="/manager/imgs/theme/Preview.png" alt="logo"></a>
	            </div>
	             -->
	            <div class="col-xl-4 col-lg-6 col-md-6">
	            	<p class="font-sm"><a href="/withdrawal/form">회원탈퇴</a></p>
	                <p class="font-sm mb-0">&copy; 2022, <strong class="text-brand">Nest</strong> - HTML Ecommerce Template <br />All rights reserved</p>
	            </div>
	            <div class="col-xl-4 col-lg-6 text-center d-none d-xl-block">
	            </div>
	            <div class="col-xl-4 col-lg-6 col-md-6 text-end d-none d-md-block">
	                <div class="mobile-social-icon">
	                    <h6>Follow Us</h6>
	                    <a href="#"><img src="/member/imgs/theme/icons/icon-facebook-white.svg" alt="" /></a>
	                    <a href="#"><img src="/member/imgs/theme/icons/icon-twitter-white.svg" alt="" /></a>
	                    <a href="#"><img src="/member/imgs/theme/icons/icon-instagram-white.svg" alt="" /></a>
	                </div>
	                <p class="font-sm">한국스마트정보교육원 52기 2팀</p>
	            </div>
	        </div>
	    </div>
	</footer>
</html>