<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<header class="header-area header-style-1 header-height-2" th:fragment="hearderFragment">
		<div class="mobile-promotion">
			<span>ksmart 52기 2팀 <strong>멘토링을 통한 IT경력개발</strong> 및 <strong>취업성공 </strong> 플랫폼</span>
		</div>
		<div class="header-middle header-middle-ptb-1 d-none d-lg-block">
			<div class="container">
				<div class="header-wrap">
					<div class="logo logo-width-1">
						<a href="/member"><img src="/manager/imgs/theme/Preview.png" alt="logo" /></a>
					</div>
					<div class="header-right">
						<div class="search-style-2">
	
						</div>
						<div class="header-action-right">
							<div class="header-action-2">
	
								<div class="header-action-icon-2">
									<a href="/member/login"><span class="label ml-0" th:if="${session.SID == null}">로그인</span></a>
								</div>
								<div class="header-action-icon-2">
									<a href="/register/info"><span class="label" th:if="${session.SID == null}">회원가입</span></a>
								</div>
								<div class="header-action-icon-2" th:unless="${session.SID == null}">
                                    <span class="label ml-0" th:with="SID=${session.SID}" th:text="|${SID} 님 |"></span>
                                    <a>
                                        <img class="svgInject" alt="user" src="/member/imgs/theme/icons/icon-user.svg" />
                                    </a>
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                        <ul>
                                        	<th:block th:switch="${session.SLEVEL}">
                                        		<li th:case="${'member_level_mentee'}">
                                                	<a th:href="@{/mypage/mentee/account}"><i class="fi fi-rs-user mr-10"></i>마이페이지</a>
                                            	</li>
	                                            <li th:case="${'member_level_mentor'}">
	                                                <a th:href="@{/mypage/mentor/account}"><i class="fi fi-rs-user mr-10"></i>마이페이지</a>
	                                            </li>
                                        	</th:block>
                                            <li th:if="${session.SLEVEL == 'member_level_mentee'}">
                                                <a th:href="@{/pay/list}"><i class="fi fi-rs-label mr-10"></i>멘토링 관리</a>
                                            </li>
                                            <li th:if="${session.SLEVEL == 'member_level_mentor'}">
                                                <a th:href="@{/pay/settlementList}"><i class="fi fi-rs-label mr-10"></i>멘토링 관리</a>
                                            </li>
                                            <li th:if="${session.SLEVEL == 'member_level_manager'}">
                                                <a th:href="@{/manager}"><i class="fi fi-rs-label mr-10"></i>관리자 페이지</a>
                                            </li>
                                            <li>
                                                <a th:href="@{/member/logout}"><i class="fi fi-rs-sign-out mr-10"></i>logout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
								<div class="header-action-icon-2" th:if="${session.SID != null && session.SLEVEL == 'member_level_mentee'}">
                                    <a href="/pay/beforeList">
                                        <img class="svgInject" alt="beforePayList" src="/member/imgs/theme/icons/icon-heart.svg">
                                        <span class="pro-count blue" th:text="${cnt}"></span>
                                    </a>
                                </div>                                
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header-bottom header-bottom-bg-color sticky-bar">
			<div class="container">
				<div class="header-wrap d-flex justify-content-center position-relative">
					<div class="logo logo-width-1 d-block d-lg-none">
						<a href="/member"><img src="/manager/imgs/theme/Preview.png" alt="logo" /></a>
					</div>
					<div class="header-nav d-none d-lg-flex">
						<div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block font-heading">
							<nav>
								<ul>
									<li>
										<a class="active" href="/member">Home</a>
									</li>
									<li>
										<a href="/mentoring/notice">멘토링</a>
									</li>
									<li>
										<a href="#">멘토 찾기<i class="fi-rs-angle-down"></i></a>
										<ul class="sub-menu">
											<li><a href="/honor/mentorList">명예멘토</a></li>
											<li><a href="/mentor/list">멘토</a></li>
										</ul>
									</li>
									<li>
										<a href="/portfolio/list">포트폴리오</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="header-action-icon-2 d-block d-lg-none">
                        <div class="burger-icon burger-icon-white">
                            <span class="burger-icon-top"></span>
                            <span class="burger-icon-mid"></span>
                            <span class="burger-icon-bottom"></span>
                        </div>
                    </div>
					<!-- mobile menu -->
					<!-- <div class="header-action-right d-block d-lg-none">
						<div class="header-action-2">
							<div class="header-action-icon-2">
								<a href="shop-wishlist.html">
									<img alt="Nest" src="/member/imgs/theme/icons/icon-heart.svg" />
									로그인 아이콘 추가
								</a>
							</div>
							<div class="header-action-icon-2">
								<a class="mini-cart-icon" href="#">
									<img alt="Nest" src="/member/imgs/theme/icons/icon-cart.svg" />
									회원가입 아이콘 추가
								</a>
							</div>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</header>
	<div class="mobile-header-active mobile-header-wrapper-style" th:fragment="mobileHeaderFragment">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="/member"><img src="/manager/imgs/theme/Preview.png" alt="logo" /></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                
                <div class="mobile-menu-wrap mobile-header-border">
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu font-heading">
                            <li class="menu-item-has-children">
                                <a href="/">Home</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="/mentoring/notice">멘토링</a> 
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">멘토찾기</a>
                                <ul class="dropdown">
                                    <li><a href="/honor/mentorList">명예멘토</a></li>
									<li><a href="/mentor/list">멘토</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="/portfolio/list">포트폴리오</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
               
            </div>
        </div>
    </div>
</html>