<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 멘티 사이트바 -->
    <div class="col-md-3" th:fragment="menteeMypageAsideFragment">
		<div class="dashboard-menu">
			<ul class="nav flex-column" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="account-detail-tab" href="/mypage/mentee/account"
						role="tab" aria-controls="account-detail" aria-selected="true"><i
							class="fi-rs-user mr-10"></i>계정 정보</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="orders-tab" href="/mypage/mentee/introduce"
						aria-controls="orders" aria-selected="false"><i
							class="fi-rs-shopping-bag mr-10"></i>소개글</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="track-orders-tab" href="/mypage/mentee/career"
						aria-controls="track-orders" aria-selected="false"><i
							class="fi-rs-shopping-cart-check mr-10"></i>경력 관리</a>
				</li>
			</ul>
		</div>
	</div>
</html>