<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 연결성공?? -->
<div th:fragment="MentoringApply">
<div class="modal fade custom-modal" id="MentoringApply" data-bs-backdrop="static" tabindex="-1" aria-labelledby="MentoringApply" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
	            <div class="deal">
	                <div class="deal-top">
	                    <h4 class="mb-15">멘토링 신청</h4>
	                </div>
	                <div class="deal-content detail-info">
	                	<form method="post">
                       		<div class="form-group col-lg-6">
								<label for="memberName">아이디</label>
                                <input type="text" name="memberName" placeholder="이름" required>
                             </div>
							<div class="row shipping_calculator">
								<div class="form-group col-lg-6">
									<label for="mentoringYmd">멘토링 일정</label>
									<div class="custom_select">
								    	<select id="mentoringYmd" name="noticeDetailCode" class="form-control">
								        	<option value="">요일을 선택해주세요</option>
							                <th:block th:if="${noticeDetailYmd != null}">
	                                    		<option th:each="n : ${noticeDetailYmd}" 
	                                    				th:value="${n.noticeDetailCode}"
	                                    				th:text="|${n.mentoringYmd} :::::::: ${n.mentoringTime}|"></option>
                                    		</th:block>
							        	</select>
									</div>
								</div>
							</div>
                            <div class="form-group col-lg-6">
								<label for="noticeUntprc">멘토링</label>
                                <input type="text" id="noticeUntprc"  name="price" value="50,000" readonly>
                            </div>
                            <button type="button" id="applyBtn" class="button button-contactForm">신청 하기<i class="fi-rs-arrow-right"></i></button>
                        </form>
	                </div>
	            </div>
			</div>
        </div>
    </div>
</div>
</div>
</html>