<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{member/layouts/layout}">
    <!--/* 기존 class는 main pages...  pages 누락 시 문제 없음
    	<main class="main pages"layout:fragment="content"> */-->	
    <th:block layout:fragment="customContent">
        <div class="container mb-80 mt-50">
            <div class="row">
                <div class="col-lg-8 mb-40">
                    <h1 class="heading-2 mb-10">자격증</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        <h3 class="mb-30">수정&삭제</h3>
                        <form th:action="@{/mypage/mentee/certificateModify}" method="post" th:object="${certificateInfo}">
                        		<input class="form-control" name="menteeCtfcCode" type="hidden" th:value="*{menteeCtfcCode}"/>
                                <div class="form-group col-lg-6">자격증명*
	                                <select class="form-select" name="menteeCtfcNm">
										<th:block>
											<option th:each="cic : ${certificateNm}" th:value="${cic.nameCode}" th:text="${cic.certificateNm}" th:selected="${cic.nameCode}==*{menteeCtfcNm}"></option>
										</th:block>
									</select>
								</div>
								<div class="form-group col-lg-6">발급기관명*
	                                <select class="form-select" name="menteeCtfcIstt">
										<th:block>
											<option th:each="cic : ${certificateNm}" th:value="${cic.institutionCode}" th:text="${cic.institutionNm}" th:selected="${cic.institutionCode}==*{menteeCtfcIstt}"></option>
										</th:block>
									</select>
								</div>							
                                <div class="form-group col-lg-6">자격증 발급 날짜*
                                    <input type="date" name="menteeCtfcDate" required placeholder="자격증 발급 날짜 *" th:value="*{menteeCtfcDate}">
                                </div>
                                <div class="form-group col-lg-6">자격증 등급*
                                    <input type="text" name="menteeCtfcGrade" required placeholder="자격증 등급 *" th:value="*{menteeCtfcGrade}">
                                </div>
							<button class="button rounded btn-md" type="submit">수정</button>
							<a class="button rounded btn-md" th:href="@{/mypage/mentee/certificateRemove(menteeCtfcCode=*{menteeCtfcCode})}">삭제</a>
                        </form>
                    </div>
                </div>
             </div>
          </div>
    </th:block>
</html>