<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="menteeMypageCareerJs">
	<script>
		
	</script>

</th:block>
	<!--/* 기존 class는 main pages...  pages 누락 시 문제 없음
    	<main class="main pages"layout:fragment="content"> */-->
    <div th:fragment="menteeMypageCareer">
		<div class="card">
			<div class="card-header">
				<h3 class="mb-0">학력</h3>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>학교명</th>
								<th>학과</th>
								<th>학점</th>
								<th>수정&삭제</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="e : ${menteeEducationInfo}">
								<td th:text="${e.menteeSchoolNm}"></td>
								<td th:text="${e.menteeMajorNm}"></td>
								<td th:text="${e.menteeSchoolCd}"></td>
								<td><a th:href="@{/mypage/mentee/educationModify(menteeAcbgCode = ${e.menteeAcbgCode})}" class="btn-small d-block">수정&삭제</a></td>
							</tr>
						</tbody>
					</table>
					<button class="submit submit-auto-width" onclick="location.href='/mypage/mentee/educationAdd'">추가</button>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<h3 class="mb-0">자격증</h3>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>자격증 명</th>
								<th>발급기관</th>
								<th>자격증 등급</th>
								<th>자격증 발급일</th>
								<th>수정&삭제</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="c : ${menteeCertificateInfo}">
								<td th:text="${c.certificateName.certificateNm}"></td>
								<td th:text="${c.certificateName.institutionNm}"></td>
								<td th:text="${c.menteeCtfcGrade}"></td>
								<td th:text="${c.menteeCtfcDate}"></td>
								<td><a th:href="@{/mypage/mentee/certificateModify(menteeCtfcCode = ${c.menteeCtfcCode})}" class="btn-small d-block">수정&삭제</a></td>
							</tr>
						</tbody>
					</table>
					<button class="submit submit-auto-width"onclick="location.href='/mypage/mentee/certificateAdd'">추가</button>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<h3 class="mb-0">포트폴리오</h3>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>포트폴리오 제목</th>
								<th>등록일</th>
								<th>수정&삭제</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="p : ${menteePortfolioInfo}">
								<td th:text="${p.menteePtflTitle}"></td>
								<td th:text="${p.menteePtflRgstDate}"></td>
								<td><a th:href="@{/mypage/mentee/portfolioModify(menteePtflCode = ${p.menteePtflCode})}" class="btn-small d-block">수정&삭제</a></td>
							</tr>
						</tbody>
					</table>
					<button class="submit submit-auto-width" onclick="location.href='/mypage/mentee/portfolioAdd'">추가</button>
				</div>
			</div>
		</div>
	</div>
</html>