<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{member/layouts/layout}">
     <!--/* 기존 class는 main pages...  pages 누락 시 문제 없음
    	<main class="main pages"layout:fragment="content"> */-->
		<th:block layout:fragment="customJs">
			<script th:inline="javascript">
				const msg = "아이디와 일치하는 비밀번호를 찾을 수 없습니다.";
				
				$('#submitSearchPw').click(function(){
					const inputId = $('#inputId').val();
					
					if(!inputId){
						alert("아이디를 입력해 주세요.");
						isSubmit = false;
						return ;
						}
						
						const req = $.ajax({
							url: "/member/findPassword",
							method: 'POST',
							data: { "inputId" : inputId },
							dataType: 'text'
						});
						req.done(function(data){
							if(data){
								$('#foundPwInput').val(data);
							}else if(!data){
								$('#foundPwInput').val('');
								alert(msg);
							}
						});
						req.fail(function(){
							alert("오류 : 관리자에게 문의하세요");
						});
					});
			</script>
		</th:block>
		
		<th:block layout:fragment="customContent">
        <div class="page-content pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-12 m-auto">
                        <div class="login_wrap widget-taber-content background-white">
                            <div class="padding_eight_all bg-white">
                                <div class="heading_s1">
                                    <img class="border-radius-15" src="/member/imgs/page/forgot_password.svg" alt="" />
                                    <h2 class="mb-15 mt-15">Forgot your password?</h2>
                                    <p class="mb-30">아이디를 입력해서 비밀번호를 찾아보세요.</p>
                                </div>
                                <form id="findPasswordForm" th:action="@{/member/findPassword}" method="post">
                                    <div class="form-group">
                                        <input id="inputId" name="inputId" type="text" placeholder="아이디를 입력하세요" />
                                    </div>
                                    <div class="form-group">
                                        <button id="submitSearchPw" type="button" class="btn btn-heading btn-block hover-up">비밀번호 찾기</button>
                                    </div>
									<div class="form-group mt-60">
	                                    <p class="mb-30">찾은 비밀번호</p>
                                        <input id="foundPwInput" type="text" placeholder="found password"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</html>