<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{member/layouts/layout}">
     <!--/* 기존 class는 main pages...  pages 누락 시 문제 없음
    	<main class="main pages"layout:fragment="content"> */-->
    <th:block layout:fragment="customJs">
    	<script>
	    	$('#menteeAccount').click(function(){
				$('#memberId').val('mentee001');
				$('#memberPw').val('menteepw001');
				  
			});
			$('#mentorAccount').click(function(){
				$('#memberId').val('mentor001');
				$('#memberPw').val('mentorpw001');
			});
	
	        $('#loginBtn').click(function(){
	            let isSubmit = true;
	    		
	            const $formEles = $('#loginForm input');
	            
	            $formEles.each((index, item)=>{
	                const value = $(item).val();
	                if(!value){
	                    const cate = $(item).attr('placeholder');
	                    const msg = `${cate} 필수 입력항목입니다.`;
	                    alert(msg);
	                    $(item).focus();
	                    isSubmit = false;
	                    return false;
	                }
	            });
	            
	            if(isSubmit) $('#loginForm').submit();
	        });
    	
    	</script>
    </th:block>
    <th:block layout:fragment="customContent">
        <div class="page-content pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
                        <div class="row">
                            <div class="col-lg-6 pr-30 d-none d-lg-block">
                                <img class="border-radius-15" src="/member/imgs/page/login.png" alt="login" />
                            </div>
                            <div class="col-lg-6 col-md-8">
                                <div class="login_wrap widget-taber-content background-white">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h1 class="mb-10">Login</h1>
                                            <p class="mb-30">회원이 아니신가요? <a href="/register/info"> 회원가입</a></p>
                                        </div>
                                       
	                                    <div class="mb-10">
		                                    <button type="button" id="menteeAccount" class="btn btn-heading btn-block hover-up">멘티</button>
		                                    <button type="button" id="mentorAccount" class="btn btn-heading btn-block hover-up">멘토</button>
	                                    </div>
	                                    <hr/>
	                                    <div class="mb-10" th:if="${param.msg}">
	                                        <p style="color: red;" th:text="${param.msg}"></p>
	                                    </div>
                                        <form id="loginForm" th:action="@{/member/loginProc}" method="post">
                                            <div class="form-group">
                                                <input type="text" id="memberId" name="memberId" placeholder="아이디" />
                                            </div>
                                            <div class="form-group">
                                                <input type="password" id="memberPw" name="memberPw" placeholder="비밀번호" />
                                            </div>
                                            <div class="login_footer form-group">
                                                <a class="text-muted" href="/member/findPassword">비밀번호 찾기</a>
                                            </div>
                                            <div class="form-group">
                                                <button type="button" id="loginBtn" class="btn btn-heading btn-block hover-up">Login</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</html>