<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{member/layouts/layout}">
	
<th:block class="main" layout:fragment="customContent">
	<div class="container mb-30">
	    <div class="archive-header-3 mt-30 mb-80" style="background-image: url(/member/imgs/vendor/vendor-header-bg.png)">
	        <div class="archive-header-3-inner">
	            <div class="vendor-logo mr-50">
	                <img src="/manager/imgs/people/user-avatar.png" alt="" />
	            </div>
	            <div class="vendor-content">
	                <h3 class="mb-5 text-white"><label class="text-white" th:text="${memberId}"></label></h3>
	                <span class="font-small text-muted">총 누적 평점</span>
	                <div class="product-rate-cover mb-15">
	                    <div class="product-rate d-inline-block">
	                        <div class="product-rating" th:style="'width:' + (${reviewAvg} * 20) + '%'"></div>
	                    </div>
	                    <span class="font-small ml-5 text-muted" th:text="${reviewAvg}"></span>
	                </div>
	                <div class="row">
	                    <div class="col-lg-4">
	                        <div class="vendor-des mb-15">
	                            <p class="font-sm text-white">Got a smooth, buttery spread in your fridge? Chances are good that it's Good Chef. This brand made Lionto's list of the most popular grocery brands across the country.</p>
	                        </div>
	                    </div>
	                    <div class="col-lg-3">
	                        <div class="vendor-info text-white mb-15">
	                            <ul class="font-sm">
	                                <li class="mb-50"></li>
	                                <li><img class="mr-5" src="/member/imgs/theme/icons/icon-contact.svg" alt="" /><strong>Call Us:</strong><span th:text="${memberEmail}">(+91) - 540-025-124553</span></li>
	                            </ul>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="row flex-row-reverse">
	        <div class="col-12">
	        	<table class="table-success"> 
	        		<thead>
	        			<tr>
	        				<th>신청멘토링명</th>
	        				<th>날짜</th>
	        				<th>시간</th>
	        				<th>작성 아이디</th>
	        				<th>후기 내용</th>
	        				<th>평점</th>
	        				<th>등록일</th>
	        			</tr>
	        		</thead>
	        		<tbody>
	        			<tr th:unless="${#lists.isEmpty(reviewList)}" th:each="rl : ${reviewList}">
	        				<td th:text="${rl.notice.noticeTitle}"></td>
	        				<td th:text="${rl.noticeDetail.mentoringYmd}"></td>
							<td th:text="${rl.noticeDetail.mentoringTime}"></td>
							<td th:text="${rl.menteeId}"></td>
	        				<td>
							    <div class="product-rate-cover">
							        <div class="product-rate d-inline-block">
							            <div class="product-rating" th:style="'width:' + (${rl.reviewScore} * 20) + '%'"></div>
							        </div>
							        <span class="font-small ml-5 text-muted" th:text="${rl.reviewScore}"></span>
							    </div>
							</td>
	        				<td th:text="${rl.reviewContent}">3</td>
	        				<td th:text="${rl.reviewRegDate}"></td>
	        			</tr>
	        			<tr th:if="${#lists.isEmpty(reviewList)}" class="text-center">
	        				<td colspan="7">등록 후기가 없습니다.</td>
	        			</tr>
	        		</tbody>
	        	</table>
	        </div>
	    </div>
	</div>
</th:block>
</html>