<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{member/layouts/layout}">
<th:block class="main" layout:fragment="customContent">
	<div class="page-content pt-150 pb-150">
		<div class="container">
			<!-- 타이틀 후기 레이아웃 수정 필요~ -->
            <h3 class="pb-30">내가 쓴 후기</h3>
			<div class="row">
				<div class="col-lg-10 m-auto">
					<div class="col-lg-12">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>신청한 멘토링</th>
										<th>멘토명</th>
										<th>후기 내용</th>
										<th>평점</th>
										<th>수정</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>나도 포트폴리오 마스터!!</td>
										<td>홍길동</td>
										<td>후기 내용</td>
										<td>
											<div class="product-rate-cover">
			                                   <div class="product-rate d-inline-block">
			                                       <div class="product-rating" style="width: 90%"></div>
			                                   </div>
			                                   <span class="font-small ml-5 text-muted"> (4.0)</span>
			                               </div>
										</td>
										<!-- 수정 시 alert으로 평점은 수정 불가 안내 -->
										<td><a href="/review/modify" class="btn btn-md rounded font-sm">수정</a></td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- table-responsive //end -->
					</div>
					<!-- card-body end// -->
				</div>
				<!-- card end// -->
			</div>
		</div>
	</div>
</th:block>
</html>