<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{member/layouts/layout}">
	
	<th:block class="main" layout:fragment="customContent">
		<div class="page-content pt-100 pb-150">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 m-auto">
						<div class="row">
							<!--/* 멘토링관리 사이드바 */-->
							<th:block th:replace="~{member/pay/aside/asideMenu :: asideMenu}"></th:block>
							<div class="col-md-9">
								<div class="tab-content account dashboard-content pl-50">
									<div class="tab-pane fade active show">
										<div class="card">
											<div class="card-body">
												<div class="table-responsive pt-20">
													<table class="table table-hover ">
														<thead class="text-center">
															<tr>
																<th>신청 멘토링</th>
																<th>날짜</th>
																<th>시간</th>
																<th>멘토</th>
																<th>평점</th>
																<th>후기 내용</th>
																<th>수정</th>
															</tr>
														</thead>
														<tbody>
															<tr th:each="rl : ${reviewList.contents}">
																<th:block>
																	<input type="hidden" th:value="${rl.reviewCode}">
																</th:block>
																<td th:text="${rl.notice.noticeTitle}"></td>
																<td th:text="${rl.noticeDetail.mentoringYmd}"></td>
																<td th:text="${rl.noticeDetail.mentoringTime}"></td>
																<td th:text="${rl.notice.memberId}"></td>
																<td>
																    <div class="product-rate-cover">
																        <div class="product-rate d-inline-block">
																            <div class="product-rating" th:style="'width:' + (${rl.reviewScore} * 20) + '%'"></div>
																        </div>
																        <span class="font-small ml-5 text-muted" th:text="${rl.reviewScore}"></span>
																    </div>
																</td>
																<td th:text="${rl.reviewContent}"></td>
																<td><a th:href="@{/review/modify(reviewCode=${rl.reviewCode})}" class="btn btn-md rounded font-sm">수정</a></td>
															</tr>
														</tbody>
													</table>
													<div class="pagination-area mt-20 mb-20">
								                        <nav aria-label="Page navigation example">
								                            <ul class="pagination justify-content-start">
								                                <th:block th:each="num : ${#numbers.sequence(reviewList.startPageNum, reviewList.endPageNum)}">
														            <li class="page-item"
														                th:classappend="${reviewList.currentPage == num} ? 'active'">
														                <a class="page-link" th:href="@{/review/list(currentPage=${num})}" th:if ="${num} != 0">[[${num}]]</a>
														            </li>
													       		</th:block>
								                                <li class="page-item" th:classappend="${reviewList.currentPage >= reviewList.lastPage} ? 'disabled'">
								                                    <a class="page-link" th:href="@{/review/list(currentPage=${reviewList.currentPage + 1})}"><i class="fi-rs-arrow-small-right"></i></a>
								                                </li>
								                            </ul>
								                        </nav>
								                    </div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</html>