<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{manager/layouts/layout}">
	
	<th:block layout:fragment="customJs">
	<script>
	$(document).ready(function() {
	       // 링크 클릭 이벤트 처리
	       $('#workCheck').click(function(event) {

	           // 링크의 data-* 속성에서 파라미터 값 추출
	           const mentorFileNm = $(this).data('mentor-file-nm');
	           const managerId = $(this).data('manager-id');

	           // Ajax 요청 전송
	           $.ajax({
	               url: '/manager/career/projectCheck',  // 요청할 URL
	               type: 'GET',        // GET 방식으로 전송
	               data: {
	                   mentorFileNm: mentorFileNm,
	                   managerId: managerId
	               },
	               success: function(response) {
	                   // 요청이 성공했을 때 실행할 작업
	                   console.log("작업 확인 완료");
	                   alert(response); // 서버에서 전달된 응답 메시지 표시
	                   window.location.reload();//페이지 새로고침
	                   //$(".table-responsive").load(window.location.href + " .table-responsive");//해당 div만 새로고침
	               },
	               error: function(xhr, status, error) {
	                   console.error("오류 발생:", error);
	                   alert("작업 확인 중 오류가 발생했습니다.");
	               }
	           });
	       });
	   });
	</script>
	</th:block>
	
	<th:block layout:fragment="customContent">
            <section class="content-main">
                <div class="content-header">
                    <h2 class="content-title">멘토 기술경력 승인</h2>
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row gx-3">
                            <div class="col-lg-4 col-md-6 me-auto">
                                <input type="text" placeholder="Search..." class="form-control" />
                            </div>
                            <div class="col-lg-2 col-md-3 col-6">
                                <select class="form-select">
                                    <option>상태</option>
                                    <option>승인</option>
                                    <option>대기</option>
                                </select>
                            </div>
                        </div>
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>아이디</th>
                                        <th>프로젝트 명</th>
                                        <th>승인 상태</th>
                                        <th>신청날짜</th>
                                        <th>파일</th>
                                        <th class="text-end"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="m : ${memberList.contents}">
                                        <td th:text="${m.mentorId}"></td>
                                        <td class="text-muted" th:text="${m.mentorProjectNm}"></td>
                                        <td th:unless="${m.mentorYn == 'N'}"><span class="rounded-pill alert-success">승인</span></td>
                                        <td th:if="${m.mentorYn == 'N'}"><span class="rounded-pill alert-danger">대기</span></td>
                                        <td th:text="${m.mentorDate}"></td>
                                        <td><a th:href="@{/manager/career/download(mentorFileNm=${m.mentorFileNm})}" class="btn btn-sm btn-brand rounded font-sm mt-15">다운로드</a></td>
                                        <td class="text-end">
                                            <a id="workCheck" th:data-mentor-file-nm="${m.mentorFileNm}" th:data-manager-id="${session.SID}" class="btn btn-sm btn-brand rounded font-sm mt-15" th:if="${m.mentorYn == 'N'}">승인</a>
                                            <a id="workCheck" th:data-mentor-file-nm="${m.mentorFileNm}" data-manager-id="N" class="btn btn-sm btn-brand rounded font-sm mt-15">거부</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- table-responsive.// -->
                        </div>
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
                <div class="pagination-area mt-15 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
					    	<li class="page-item" th:classappend="${memberList.currentPage < 2}? 'disabled'">
								<a class="page-link d-flex justify-content-center align-items-center" th:href="@{/manager/career/project(currentPage=${memberList.currentPage - 1})}"><i class="material-icons md-chevron_left"></i></a>
							</li>
					        <th:block th:each="num : ${#numbers.sequence(memberList.startPageNum, memberList.endPageNum)}">
					            <li class="page-item"
					                th:classappend="${memberList.currentPage == num} ? 'active'">
					                <a class="page-link" th:href="@{/manager/career/project(currentPage=${num})}">[[${num}]]</a>
					            </li>
					        </th:block>
					        <li class="page-item" th:classappend="${memberList.currentPage >= memberList.lastPage} ? 'disabled'">
					            <a class="page-link d-flex justify-content-center align-items-center" th:href="@{/manager/career/project(currentPage=${memberList.currentPage + 1})}"><i class="material-icons md-chevron_right"></i></a>
					        </li>
					    </ul>
                    </nav>
                </div>
            </section>
            <!-- content-main end// -->
	</th:block>
</html>
