<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ks52team02.manager.member.mapper.ManagerMemberMapper">

	<select id="getMentorList" resultType="Member">
		/* 탈퇴하지 않은 멘토 권한 멤버 조회 */
		SELECT
			m.member_id AS memberId, 
			m.member_password AS memberPw, 
			m.search_member_password_answer AS memberPwAnswer,
			m.member_name AS memberName, 
			m.member_phone_number AS memberTelNo, 
			m.member_email AS memberEmail, 
			m.member_join_YMD AS memberJoinYMD, 
			maa.honor_mentor_YN AS isHonorMentor
		FROM
			member m
			LEFT JOIN
			member_level ml
			ON
			m.member_level_code=ml.member_level_code
			LEFT JOIN
			mentor_authority_approval maa
			ON
			m.member_id=maa.member_id
		WHERE
			m.member_withdrawal_YN = 'N' AND 
			ml.member_level_code = 'member_level_mentor';
	</select>
	
	
	<select id="getMemberList" resultType="Member">
		/* 관리자 - 전체 가입 회원 조회 */
		SELECT
			member_id AS memberId, 
			member_password AS memberPw, 
			search_member_password_answer AS memberPwAnswer, 
			ml.member_level_name AS memberLevel, 
			member_name AS memberName, 
			member_phone_number AS memberTelNo, 
			member_email AS memberEmail, 
			member_join_YMD AS memberJoinYMD, 
			member_withdrawal_YN AS memberWithdrawalYN
		FROM
			member m
			LEFT JOIN
			member_level ml
			ON
			m.member_level_code=ml.member_level_code
		WHERE
			member_withdrawal_YN = 'N';
		
		
	</select>
	
	<select id="getWithdrawalMemberList" resultType="WithdrawalMember">
		/* 관리자 - 탈퇴 회원 조회 */
		SELECT
			mwa.withdrawal_apply_member_code AS withdrawalMemberCode,
			mwa.withdrawal_reason AS withdrawalReason,
			ml.member_level_name AS withdrawalMemberLevel,
			mwa.withdrawal_member_id AS withdrawalMemberId,
			m.member_password AS withdrawalMemberPw,
			mwa.withdrawal_demand_YMD AS withdrawalDemandYMD,
			mwa.withdrawal_approval_YMD AS withdrawalApprovalYMD
		FROM
			member m
			INNER join
			member_withdrawal_apply mwa
			ON
			m.member_id=mwa.withdrawal_member_id
			RIGHT JOIN
			member_level ml
			ON
			mwa.member_level_code=ml.member_level_code
		WHERE
			member_withdrawal_YN = 'Y'
		ORDER BY
			mwa.withdrawal_approval_YMD desc;
	</select>
	
	<select id="getDormantMemberList" resultType="Member">
		/* 관리자 - 휴면 회원 조회(6개월 이상 접속 기록이 없을 시) */
		SELECT
			m.member_id AS memberId, 
			m.member_password AS memberPw, 
			m.search_member_password_answer AS memberPwAnswer, 
			ml.member_level_name AS memberLevel, 
			m.member_name AS memberName, 
			m.member_phone_number AS memberTelNo, 
			m.member_email AS memberEmail, 
			m.member_join_YMD AS memberJoinYMD,
			mll.member_login_YMD AS memberLoginLog,
			DATEDIFF(NOW(), mll.member_login_YMD) AS 'dormantDays'
		FROM
			member_login_log mll
			LEFT JOIN
			member m
			ON
			mll.member_id=m.member_id
			LEFT JOIN
			member_level ml
			ON
			ml.member_level_code=m.member_level_code
			
		WHERE
			DATEDIFF(NOW(), mll.member_login_YMD)>=183 AND
			m.member_withdrawal_YN = 'N'
		GROUP BY memberId
		ORDER BY mll.member_login_YMD desc;
	</select>
	
	<select id="getLoginLog" resultType="LoginLog">
		/* 관리자 - 로그인 로그 조회 */
		SELECT
			mll.login_log_code AS loginLogCode,
			m.member_id AS loginMemberId,
			m.member_level_code AS loginMemberLevel,
			mll.member_login_YMD AS loginLog
		FROM
			member_login_log mll
			INNER JOIN
			member m
			ON
			mll.member_id=m.member_id
			
		ORDER BY mll.member_login_YMD desc;
	</select>


</mapper>