<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ks52team02.member.register.mapper.MemberRegisterMapper">

	<insert id="register" parameterType="Member">
		/* 회원가입 */
		INSERT INTO `member`
		(member_id, member_password, search_member_password_answer, member_level_code, member_name, member_phone_number, member_email, member_join_YMD, member_withdrawal_YN)
		VALUES
		(#{memberId}, #{memberPw}, #{memberPwAnswer}, 'member_level_mentee', #{memberName}, #{memberTelNo}, #{memberEmail}, NOW(), 'N');
	</insert>
	
	<select id="dupicatedCheckById" parameterType="String" resultType="boolean">
		/* 아이디 중복체크 */
		SELECT
			COUNT(member_id)
		FROM
			member m
		WHERE
			member_id = #{memberId};
	</select>
</mapper>