<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<th:block th:fragment="mentorMypageCareerJs">
		<script>
		
		</script>
	</th:block>

    <!--/* 기존 class는 main pages...  pages 누락 시 문제 없음
    	<main class="main pages"layout:fragment="content"> */-->	
    <div th:fragment="mentorMypageCareer">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="mb-0">근무 경력</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>회사 명</th>
                                                                <th>담당업무</th>
                                                                <th>근무기간</th>
                                                                <th>재직 여부</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr th:each="w : ${mentorWorkInfo}">
                                                                <td th:text="${w.mentorPowkNm}"></td>
                                                                <td th:text="${w.mentorTask}"></td>
                                                                <td th:text="${w.mentorCnt}"></td>
                                                                <td th:text="${w.mentorStatus}"></td>
                                                                <td><a th:href="@{/mypage/mentor/workModify(mentorWorkCode=${w.mentorWorkCode})}" class="btn-small d-block">수정</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <button class="submit submit-auto-width" onclick="location.href='/mypage/mentor/workAdd'">추가</button>
                                                </div>
                                            </div>
                                        </div>
										<div class="card">
                                        <div class="card-header">
                                            <h3 class="mb-0">프로젝트 경력</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>프로젝트 명</th>
                                                            <th>수행업무</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr th:each="p : ${mentorProjectInfo}">
                                                            <td th:text="${p.mentorProjectNm}"></td>
                                                            <td th:text="${p.mentorCn}"></td>
                                                            <td><a href="/mypage/mentor/projectModify" class="btn-small d-block">수정</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <button class="submit submit-auto-width" onclick="location.href='/mypage/mentor/projectAdd'">추가</button>
                                            </div>
                                        </div>
                                    </div>
									<div class="card">
                                        <div class="card-header">
                                            <h3 class="mb-0">학력</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>학교 명</th>
                                                            <th>학점</th>
                                                            <th>학과(전공)</th>
                                                            <th>졸업/수료</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr th:each="e : ${mentorEducationInfo}">
                                                            <td th:text="${e.mentorSchoolNm}"></td>
                                                            <td th:text="${e.mentorCredits}"></td>
                                                            <td th:text="${e.mentorScsbjtNm}"></td>
                                                            <td th:text="${e.mentorSection}"></td>
                                                            <td><a href="/mypage/mentor/educationModify" class="btn-small d-block">수정</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <button class="submit submit-auto-width" onclick="location.href='/mypage/mentor/educationAdd'">추가</button>
                                            </div>
                                        </div>
                                    </div>
									<div class="card">
	                                    <div class="card-header">
	                                        <h3 class="mb-0">자격증</h3>
	                                    </div>
	                                    <div class="card-body">
	                                        <div class="table-responsive">
	                                            <table class="table">
	                                                <thead>
	                                                    <tr>
	                                                        <th>자격증 명</th>
	                                                        <th>발급기관</th>
	                                                        <th>자격증 등급</th>
	                                                        <th>자격증 발급일</th>
	                                                    </tr>
	                                                </thead>
	                                                <tbody>
	                                                    <tr th:each="c : ${mentorCertificateInfo}">
	                                                        <td th:text="${c.certificateName.certificateNm}"></td>
	                                                        <td th:text="${c.certificateName.institutionNm}"></td>
	                                                        <td th:text="${c.mentorGrade}"></td>
	                                                        <td th:text="${c.mentorIssuYmd}"></td>
	                                                        <td><a href="/mypage/mentor/certificateModify" class="btn-small d-block">수정</a></td>
	                                                    </tr>
	                                                </tbody>
	                                            </table>
	                                            <button class="submit submit-auto-width" onclick="location.href='/mypage/mentor/certificateAdd'">추가</button>
	                                        </div>
	                                    </div>
	                                </div>
                                    </div>
                                


</html>