<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks52team02.member.pay.mapper.MemberPayMapper">
	<resultMap type="Pay" id="paymentListMap">
		<id 	column="mentee_settlement_mentor_calculation_code" 	property="paySettlementCalCode"/>
		<result column="mentor_notice_code" 						property="noticeCode"/>	
		<result column="mentee_coupon_holding_status_code" 			property="menteeCouponStatusCode"/>	
		<result column="settlement_id" 								property="payId"/>	
		<result column="settlement_amount_before_discount" 			property="payAmountBeforeDiscount"/>	
		<result column="mentee_coupon" 								property="menteeCoupon"/>	
		<result column="last_amount" 								property="totalAmount"/>	
		<result column="settlement_day" 							property="payDate"/>	
		<result column="settlement_method" 							property="payMethod"/>	
		<result column="fee" 										property="payFee"/>	
		<result column="mentor_calculation_amount" 					property="mentorCalAmount"/>	
		<result column="last_flatform_calculation_amount" 			property="flatformCalAmount"/>	
		<result column="situation_mentor_calculation" 				property="mentorCalSituation"/>	
		<result column="mentor_calculation_completion_day" 			property="mentorCalCompletionDate"/>	
		<result column="mentoring_progress_status" 					property="mentoringProcStatus"/>	
		<association property="notice" javaType="Notice">
			<id 	column="mentoring_notice_code" 					property="noticeCode"/>
			<result column="topic_category_code" 					property="topicCode"/>
			<result column="member_id" 								property="memberId"/>
			<result column="mentoring_notice_title" 				property="noticeTitle"/>		
		</association>
		<association property="noticeDetail" javaType="NoticeDetail">
			<id 	column="mentoring_notice_detail_code" 			property="noticeDetail"/>
			<result column="day_mentoring_YMD" 						property="mentoringYmd"/>
			<result column="day_mentoring_time" 					property="mentoringTime"/>
		</association>
	</resultMap>
	
	<resultMap type="BeforePay" id="beforePayMap">
		<id 	column="mentoring_apply_code" 				property="applyCode" />
		<result column="mentoring_notice_code" 				property="noticeCode" />
		<result column="mentoring_notice_detail_code" 		property="noticeDetailCode" />
		<result column="member_id" 							property="memberId" />
		<result column="amount" 							property="noticeUntprc" />
		<result column="amount_status" 						property="amountStatus" />
		<result column="update_YMD" 						property="updateYmd" />
		
		<association property="notice" javaType="Notice">
			<id 	column="mentoring_notice_code" 					property="noticeCode"/>
			<result column="member_id" 								property="memberId"/>
			<result column="mentoring_notice_title" 				property="noticeTitle"/>
			<result column="last_UNTPRC" 							property="noticeUntprc"/>
		</association>
		<association property="noticeDetail" javaType="NoticeDetail">
			<id 	column="mentoring_notice_detail_code" 			property="noticeDetail"/>
			<result column="day_mentoring_YMD" 						property="mentoringYmd"/>
			<result column="day_mentoring_time" 					property="mentoringTime"/>
		</association>
	</resultMap>
	
	<update id="updateMentroingDatailStatus" parameterType="list">
		UPDATE mentoring_notice_detail
		SET
			RSVT_status='예약 완료(결제완료)'
		WHERE mentoring_notice_detail_code IN
		    <foreach item="detailCode" collection="list" open="(" separator="," close=")">
		        #{detailCode}
		    </foreach>
	
	</update>
	
	<select id="getNoticeDetailCodeByApplyCode" parameterType="list" resultType="string">
		/* 공고 상세 상태 변경을 위한 공고 코드 조회 */
		SELECT 
			mnd.mentoring_notice_detail_code
		FROM
			mentoring_apply ma INNER JOIN mentoring_notice_detail mnd
			ON ma.mentoring_notice_detail_code = mnd.mentoring_notice_detail_code
		WHERE 
			ma.mentoring_apply_code IN
		    <foreach item="applyCode" collection="list" open="(" separator="," close=")">
		        #{applyCode}
		    </foreach>
	</select>
	
	<update id="updateMentoringApplyStarus" parameterType="list">
		/* 결제 이후 신청 상태 변경 */ 
		UPDATE mentoring_apply
		SET
			amount_status='결제 후',
			update_YMD=NOW()
		WHERE mentoring_apply_code IN
	    <foreach item="applyCode" collection="list" open="(" separator="," close=")">
	        #{applyCode}
	    </foreach>
	
	</update>
	
	<insert id="addPay" parameterType="MentoringData">
		/* 결제 추가 */
		INSERT INTO mentee_settlement_mentor_calculation
			(mentee_settlement_mentor_calculation_code, 
			 mentoring_apply_code, 
			 mentor_notice_code, 
			 settlement_id, 
			 last_amount, 
			 settlement_day, 
			 settlement_method, 
			 fee, 
			 mentor_calculation_amount, 
			 last_flatform_calculation_amount, 
			 mentoring_progress_status)
		VALUES (#{payCode}, 
				#{applyCode}, 
				#{noticeCode}, 
				#{memberId}, 
				${amount}, 
				NOW(), 
				'카드', 					 
				10, 
				${amount} - (${amount}/10), 
				${amount}/10,
				'');
		
	</insert>
	
	<select id="getBeforePayCnt" parameterType="string" resultType="int">
		/* 멘토링 미결제건 개수 조회 */
		SELECT 
			COUNT(mentoring_apply_code)
		FROM 
			mentoring_apply
		WHERE 
			member_id = #{memberId}
			AND 
			amount_status = '결제 전';
	</select>
	
	<select id="getBeforePayListById" parameterType="string" resultMap="beforePayMap">
		/* 결제 전 멘토링 신청 내역 */
		SELECT
			ma.mentoring_apply_code,
			mn.mentoring_notice_code,
			mn.mentoring_notice_title,
			mn.member_id,
			mn.last_UNTPRC,
			mnd.day_mentoring_YMD,
			mnd.day_mentoring_time
		FROM 
			mentoring_apply ma INNER JOIN mentoring_notice mn
			ON ma.mentoring_notice_code = mn.mentoring_notice_code
			INNER JOIN mentoring_notice_detail mnd 
			ON ma.mentoring_notice_detail_code = mnd.mentoring_notice_detail_code
		WHERE
			ma.member_id = #{memberId}
			AND 
			ma.amount_status = '결제 전'
		ORDER BY update_YMD DESC;
			
	</select>
	
	<insert id="addSettlementApply" parameterType="map">
		/* 정산 신청 */
		INSERT INTO mentor_calculation_demand_completion
			(mentor_calculation_demand_completion_code, 
			 mentor_notice_code, 
			 mentee_settlement_mentor_calculation_code, 
			 mentor_id, 
			 calculation_demand_date, 
			 calculation_give_date, 
			 calculation_status, 
			 manager_id)
		VALUES 
			(#{key}, 
			 #{noticeCode}, 
			 #{payCode}, 
			 #{memberId}, 
			 NOW(), 
			 NULL, 
			 '멘토가 플랫폼에 정산 요청', 
			 NULL)
	</insert>
	
	
	<select id="getSettlementCntByPayCode" parameterType="string" resultType="int">
		/* 정산 신청을 했는가?? */
		SELECT
			COUNT(mentor_calculation_demand_completion_code)
		FROM 
			mentor_calculation_demand_completion 
		WHERE 
			mentee_settlement_mentor_calculation_code = #{payCode};
	</select>
	
	<select id="getPaymentListByMentorId" parameterType="string" resultMap="paymentListMap">
		/* (멘토) 신청받은 결제 내역 조회 */
		
		SELECT 
		    msmc.mentee_settlement_mentor_calculation_code,
		    mn.mentoring_notice_code,
		    mn.topic_category_code,
		    ma.mentoring_apply_code,
		    mn.mentoring_notice_title,
		    mnd.day_mentoring_YMD,
		    mnd.day_mentoring_time,
		    msmc.settlement_id,
		    msmc.mentor_calculation_amount,
		    msmc.mentoring_progress_status
		FROM 
		    mentee_settlement_mentor_calculation msmc INNER JOIN mentoring_apply ma 
			ON msmc.mentoring_apply_code = ma.mentoring_apply_code
		    INNER join mentoring_notice mn 
			ON ma.mentoring_notice_code = mn.mentoring_notice_code
		    INNER JOIN mentoring_notice_detail mnd 
			ON ma.mentoring_notice_detail_code = mnd.mentoring_notice_detail_code
		WHERE 
		    mn.member_id = #{memberId};
	
	</select>
	

	<select id="getMentoringTitleByPayCode" parameterType="string" resultType="string">
		/* 결제한 멘토링명 조회 */
		SELECT
			mn.mentoring_notice_title
		FROM	
			mentee_settlement_mentor_calculation msmc INNER	JOIN mentoring_notice mn
			ON msmc.mentor_notice_code = mn.mentoring_notice_code
		WHERE 
			msmc.mentee_settlement_mentor_calculation_code = #{payCode};
	</select>
	
	
	<select id="getMenteePaymentListById" parameterType="string" resultMap="paymentListMap">
		/* (멘티) 결제 내역 조회 */
		SELECT 
		    msmc.mentee_settlement_mentor_calculation_code,
		    ma.mentoring_apply_code,
		    mn.mentoring_notice_code,
		    mn.topic_category_code,
		    mn.mentoring_notice_title,
		    mnd.day_mentoring_YMD,
		    mnd.day_mentoring_time,
		    mn.member_id,
		    msmc.last_amount,
		    msmc.settlement_day,
		    msmc.mentoring_progress_status
		FROM 
		    mentee_settlement_mentor_calculation msmc INNER JOIN mentoring_apply ma 
			 ON msmc.mentoring_apply_code = ma.mentoring_apply_code
		    INNER join mentoring_notice mn 
			 ON ma.mentoring_notice_code = mn.mentoring_notice_code
		    INNER JOIN mentoring_notice_detail mnd 
			 ON ma.mentoring_notice_detail_code = mnd.mentoring_notice_detail_code
		WHERE 
		    msmc.settlement_id = #{memberId};
	</select>
</mapper>