<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks52team02.manager.goal.mapper.GoalMapper">
	<resultMap type="MemberGoal" id="memberGoalMap">
		<id 	column="mentee_goal_setting_code" 			property="goalCode"/>
		<result column="member_id" 							property="memberId"/>
		<result column="mentee_goal_setting_name" 			property="goalName"/>
		<result column="mentee_goal_content" 			 	property="goalContent"/>
		<result column="mentee_goal_setting_beginning_date" property="goalBeginningDate"/>
		<result column="mentee_goal_setting_end_date" 		property="goalEndDate"/>
		<result column="mentee_goal_progress_status" 		property="goalStatus"/>
		<result column="mentee_goal_setting_insert_date" 	property="goatAddDate"/>
		<result column="mentee_disclosure_status"			property="disclosireStatus" />
		
		<association property="goaltopic" javaType="GoalTopic">
			<result column="topic_category_code" 	property="topicCateCode"/>
			<result column="topic_name" 			property="topicName"/>
		</association>
	</resultMap>

	<select id="getMenteeGoalList" resultMap="memberGoalMap">
		/* 회원 목표 설정 및 토픽 조회 */
		SELECT
			mgs.mentee_goal_setting_code, 
			mgs.member_id, 
			mgs.mentee_goal_setting_name, 
			mgs.mentee_goal_content, 
			mgs.mentee_goal_setting_insert_date, 
			mgs.mentee_goal_progress_status, 
			tc.topic_category_code, 
			tc.topic_name 
		FROM 
			mentee_goal_setting mgs
		INNER JOIN 
			topic_category tc 
		ON mgs.topic_category_code = tc.topic_category_code;
	</select>
	
	<select id="getMenteeGoalRecordList" resultType="MemberGoalRecord">
		/* 회원 목표 진행 조회 */
        SELECT
			mentee_id AS memberId,
			mentee_goal_progress_title AS goalRecordTitle,
			mentee_goal_progress_content AS goalRecordContent,
			mentee_goal_progress_record_insert_date AS goalRecordAddDate
		FROM
			mentee_goal_progress_record 
		ORDER BY mentee_goal_progress_record_insert_date DESC;
    </select>
</mapper>