<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ks52team02.member.portfolio.mapper.PortfolioMapper">
  
  <resultMap type="Portfolio" id="portfolioDetailMap">
		<id 	column="member_id" 						property="portfolioId"/>
		<result column="portfolio_title" 				property="portfolioTitle"/>
		<result column="portfolio_content" 				property="portfolioContent"/>
		<result column="portfolio_register_date" 		property="portfolioDate"/>
		<result column="portfolio_release_YN" 			property="portfolioYn"/>
		<result column="upload_portfolio_file_name" 	property="portfolioFile"/>
	</resultMap>
  
  <select id="getPortfolioList" resultMap="portfolioDetailMap">
  	/* 포트폴리오 리스트 조회 */
  	SELECT 
		member_id, 
		portfolio_title,
		portfolio_register_date
	FROM
		mentee_portfolio_registration_details
	WHERE
		portfolio_release_YN='Y';
  	
  </select>
  
  <select id="getPortfolioDetailById" parameterType="string" resultMap="portfolioDetailMap">
	  /* 포트폴리오 선택 조회 */
	  SELECT 
			member_id, 
			portfolio_title, 
			portfolio_content, 
			portfolio_register_date
		FROM 
			mentee_portfolio_registration_details
		WHERE
			member_id=#{portfolioId};
  </select>
  
  
  
  </mapper>