<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ks52team02.member.mypage.mapper.MentorMypageMapper">
  <!-- 계정 정보 관리 쿼리문 -->
  	<resultMap type="MentorInfo" id="mentorInfoMap">
  		<id column="member_id" property="mentorId"/>
  		<result column="member_name" property="mentorNm"/>
  		<result column="member_phone_number" property="mentorTelNo"/>
  		<result column="member_email" property="mentorEmail"/>
  		<result column="member_password" property="mentorPw"/>
  	</resultMap>
  	
  
  	<select id="getMentorInfoById" parameterType="string" resultMap="mentorInfoMap">
  		/* 로그인 되어있는 회원의 계정 정보 조회 */
	   	SELECT 
			member_id, 
			member_password, 
			member_name, 
			member_phone_number, 
			member_email
		FROM 
			member
		WHERE 
			member_id = #{mentorId}; 
  	</select>
  
  	<update id="modifyMentor" parameterType="MentorInfo">
  		/* 로그인 되어있는 회원의 계정 정보 수정 */
  		UPDATE 
			member
		<trim prefix="SET" suffixOverrides=",">
			<if test="mentorPw != null and mentorPw != ''">
			member_password = #{mentorPw},
			</if>
			<if test="mentorNm != null and mentorNm != ''">
			member_name = #{mentorNm},
			</if>
			<if test="mentorTelNo != null and mentorTelNo != ''">
			member_phone_number = #{mentorTelNo},
			</if>
			<if test="mentorEmail != null and mentorEmail != ''">
			member_email = #{mentorEmail},
			</if>
		</trim>
		WHERE 
			member_id = #{mentorId};
  	</update>
  	<!-- 계정 정보 관리 쿼리문/ -->
  	
  	
  	
  	
  	<!-- 근무 경력 관리 쿼리문 -->
  	
  	<resultMap type="MentorWork" id="mentorWorkMap">
  		<id column="mentor_work_career_details_code" property="mentorWorkCode"/>
  		<result column="member_id" property="mentorId"/>
  		<result column="mentor_POWK_NM" property="mentorPowkNm"/>
  		<result column="mentor_TKCG_TASK" property="mentorTask"/>
  		<result column="mentor_JNCMP_YMD" property="mentorJncmpYmp"/>
  		<result column="mentor_RSGNTN_YMD" property="mentorRsgntnYmp"/>
  		<result column="mentor_WRKDY_CNT" property="mentorCnt"/>
  		<result column="mentor_employment_status" property="mentorStatus"/>
  		<result column="upload_file_work_history_name" property="mentorFileNm"/>
  	</resultMap>
  	
  	<select id="getMentorWorkById" parameterType="string" resultMap="mentorWorkMap">
	  	/* 근무경력 조회 */
	  	SELECT 
			member_id, 
			mentor_POWK_NM, 
			mentor_TKCG_TASK, 
			mentor_JNCMP_YMD, 
			mentor_RSGNTN_YMD, 
			mentor_WRKDY_CNT,
			mentor_employment_status, 
			upload_file_work_history_name
		FROM
			mentor_work_history_details
		WHERE
			member_id=#{mentorId};
  	</select>
  	
  	
  	<insert id="addWorkInfo" parameterType="MentorWork">
  	
  		INSERT INTO mentor_work_history_details
			(
				mentor_work_career_details_code, 
				member_id, 
				mentor_POWK_NM, 
				mentor_TKCG_TASK, 
				mentor_JNCMP_YMD, 
				mentor_RSGNTN_YMD, 
				FRST_REG_DT, 
				mentor_WRKDY_CNT, 
				mentor_ACML_WRKDY_CNT, 
				MDFCN_YMD, 
				mentor_career_DATA_REG_upload_YN, 
				mentor_career_apply_manager, 
				mentor_employment_status, 
				upload_file_work_history_name, 
				upload_file_work_history_date
			)
			VALUES (#{mentorWorkCode}, #{mentorId}, #{mentorPowkNm}, #{mentorTask}, #{mentorJncmpYmp}, #{mentorRsgntnYmp}, NOW(), 0, 0, NOW(), 'N', 'N', #{mentorStatus}, #{mentorFileNm}, NOW())
		  	
  	</insert>
  	
  	
  	
  	
  <!-- 근무 경력 관리 쿼리문/ -->
  
  
  <!-- 프로젝트 경력 관리 쿼리문 -->
  
  <resultMap type="MentorProject" id="mentorProjectMap">
  		<id column="mentor_TECH_career_detail_code" property="mentorProjectCode"/>
  		<result column="mentor_id" property="mentorId"/>
  		<result column="mentor_project_NM" property="mentorProjectNm"/>
  		<result column="mentor_project_BGNG_YMD" property="mentorBgngYmd"/>
  		<result column="mentor_project_CMPTN_YMD" property="mentorCmptnYmd"/>
  		<result column="mentor_project_TASK_CN" property="mentorCn"/>
  		<result column="mentor_upload_career_file_name" property="mentorFileNm"/>
  	</resultMap>
  	
  	<select id="getMentorProjectById" parameterType="string" resultMap="mentorProjectMap">
	  	/* 프로젝트 경력 조회 */
	  	SELECT 
			mentor_TECH_career_detail_code, 
			mentor_id, 
			mentor_project_NM, 
			mentor_project_BGNG_YMD, 
			mentor_project_CMPTN_YMD, 
			mentor_project_TASK_CN, 
			mentor_upload_career_file_name
		FROM 
			mentor_tech_career_detail
		WHERE
			mentor_id=#{mentorId};
  	</select>
  
  	
  	<insert id="addProjectInfo" parameterType="MentorProject">
  		/* 프로젝트 경력 등록 */
	  	INSERT INTO mentor_tech_career_detail
		(
		mentor_TECH_career_detail_code, 
		mentor_work_career_details_code, 
		mentor_id, 
		mentor_project_NM, 
		mentor_project_BGNG_YMD, 
		mentor_project_CMPTN_YMD, 
		mentor_project_FLFMT_CNT, 
		mentor_project_TASK_CN, 
		TECH_career_DATA_REG_upload_YN, 
		TECH_career_DATA_REG_approval_manager, 
		mentor_upload_career_file_name, 
		mentor_upload_career_file_date
		)
		VALUES (#{mentorProjectCode}, #{mentorWorkCode}, #{mentorId}, #{mentorProjectNm}, #{mentorBgngYmd}, #{mentorCmptnYmd}, 0, #{mentorCn}, 'N', 'N', #{mentorFileNm}, NOW())
  	
  	</insert>
  
  
  
  
  <!-- 프로젝트 경력 관리 쿼리문/ -->
  
  <!-- 학력 관리 쿼리문 -->
  
  <resultMap type="MentorEducation" id="mentorEducationMap">
  		<id column="mentor_ACBG_detail_code" property="mentorEducationCode"/>
  		<result column="member_id" property="mentorId"/>
  		<result column="last_ACBG_update" property="mentorAcbgUp"/>
  		<result column="mentor_school_credits" property="mentorCredits"/>
  		<result column="mentor_SCHL_NM" property="mentorSchoolNm"/>
  		<result column="mentor_SCSBJT_NM" property="mentorScsbjtNm"/>
  		<result column="mentor_graduation_Section" property="mentorSection"/>
  		<result column="mentor_upload_ACBG_file_name" property="mentorFileNm"/>
  		<result column="mentor_matriculation_date" property="mentorMtctYmd"/>
  		<result column="mentor_graduation_date" property="mentorGdtYmd"/>
  	</resultMap>
  	
  	<select id="getMentorEducationById" parameterType="string" resultMap="mentorEducationMap">
	  	/* 학력 조회 */
	  	SELECT 
			mentor_ACBG_detail_code, 
			member_id, 
			last_ACBG_update, 
			mentor_school_credits, 
			mentor_SCHL_NM, 
			mentor_SCSBJT_NM, 
			mentor_graduation_Section, 
			mentor_upload_ACBG_file_name, 
			mentor_matriculation_date, 
			mentor_graduation_date
		FROM 
			mentor_acbg_detail
		WHERE
			member_id=#{mentorId};
  	</select>
  
  	<insert id="addEducationInfo" parameterType="MentorEducation">
  		/* 학력 등록 */
	  	
	  	INSERT INTO mentor_acbg_detail
			(
			mentor_ACBG_detail_code, 
			member_id, 
			last_ACBG_update,
			mentor_school_credits, 
			mentor_SCHL_NM, 
			mentor_SCSBJT_NM, 
			mentor_graduation_CRTFCT_NM_upload_YN, 
			mentor_grade_CRTFCT_NM_upload_YN, 
			mentor_CRTFCT_NM_approval_manager, 
			mentor_graduation_Section, 
			mentor_upload_ACBG_file_name, 
			mentor_ACBG_release_YN, 
			mentor_upload_ACBG_file_date, 
			mentor_matriculation_date, 
			mentor_graduation_date
			)
		VALUES (#{mentorEducationCode}, #{mentorId}, 'N', #{mentorCredits}, #{mentorSchoolNm}, #{mentorScsbjtNm}, 'N', 'N', 'N', #{mentorSection}, #{mentorFileNm}, 'N', NOW(), #{mentorMtctYmd}, #{mentorGdtYmd})
	  	
  	</insert>
  
  
  
  <!-- 학력 관리 쿼리문/ -->
  
  
  <!-- 자격증 관리 쿼리문 -->
  
  <resultMap type="MentorCertificate" id="mentorCertificateMap">
  		<id column="mentor_certificate_detail_code" property="mentorCertificateCode"/>
  		<result column="member_id" property="mentorId"/>
  		<result column="certificate_name_code" property="mentorCertificateNm"/>
  		<result column="issue_institution_code" property="mentorInstitutionNm"/>
  		<result column="mentor_certificate_ISSU_YMD" property="mentorIssuYmd"/>
  		<result column="mentor_upload_certificate_file_name" property="mentorFileNm"/>
  		<result column="mentor_certificate_grade" property="mentorGrade"/>
  		
  		<association property="certificateName" javaType="CertificateName">
  			<id column="certificate_name_code" property="nameCode"/>
  			<result column="issue_certificate_name" property="certificateNm"/>
  			<result column="certificate_classification" property="certificateCf"/>
  			<result column="issue_institution_name" property="institutionNm"/>
  		</association>
  		
  	</resultMap>
  	
  	<select id="getCertificateInfoCode" resultType="CertificateName">
  		/* 자격증 이름,발급기관 select박스 */
  		
  		SELECT 
			certificate_name_code AS nameCode,
			issue_certificate_name AS certificateNm, 
			issue_institution_code AS institutionCode, 
			issue_institution_name AS institutionNm
		FROM 
			certificate_name
  		
  	</select>
  	
  	
  	<select id="getMentorCertificateById" parameterType="string" resultMap="mentorCertificateMap">
	  	/* 자격증 조회 */
	  	SELECT 
			mcd.mentor_certificate_detail_code, 
			cn.issue_certificate_name,
			cn.issue_institution_name, 
			mcd.mentor_certificate_ISSU_YMD, 
			mcd.mentor_upload_certificate_file_name, 
			mcd.mentor_certificate_grade
		FROM 
			mentor_certificate_detail mcd
			INNER join
			certificate_name cn
			on
			mcd.certificate_name_code=cn.certificate_name_code
		WHERE
			member_id=#{mentorId};
  	</select>
  
  	<insert id="addCertificateInfo" parameterType="MentorCertificate">
  		/* 자격증 등록 */
	  	
	  	INSERT INTO mentor_certificate_detail
			(
			mentor_certificate_detail_code, 
			member_id, 
			certificate_name_code, 
			issue_institution_code, 
			mentor_certificate_ISSU_YMD, 
			mentor_certificate_DATA_REG_upload_YN, 
			mentor_upload_certificate_file_name, 
			mentor_certificate_release_YN, 
			mentor_certificate_grade, 
			mentor_certificate_approval_manager, 
			mentor_certificate_DATA_REG_upload_date
			)
		VALUES (#{mentorCertificateCode}, #{mentorId}, #{mentorCertificateNm},
				 #{mentorInstitutionNm}, #{mentorIssuYmd}, 'N', #{mentorFileNm},
				  'N', #{mentorGrade}, 'N', NOW())
	  	
  	</insert>
  	
  
  <!-- 자격증 관리 쿼리문/ -->
  
  
  
  </mapper>