<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{member/layouts/layout}">
      
	
	
	<th:block layout:fragment="customJsFile">
	</th:block>
   	<th:block layout:fragment="customJs">
   		<script>
   		</script>
   	</th:block>
	
	<th:block layout:fragment="customContent">
		<section class="home-slider position-relative mb-30">
            <div class="home-slide-cover">
                <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                    <div class="single-hero-slider rectangle single-animation-wrap" style="background-image: url(/member/imgs/slider/slider-5.png)">
                        <div class="slider-content">
                            <h1 class="display-2 mb-40">
                                Don’t miss<br />
                                amazing deals
                            </h1>
                            <p class="mb-65">Sign up for the daily newsletter</p>
                        </div>
                    </div>
                    <div class="single-hero-slider rectangle single-animation-wrap" style="background-image: url(/member/imgs/slider/slider-6.png)">
                        <div class="slider-content">
                            <h1 class="display-2 mb-40">
                                Fresh Vegetables<br />
                                Big discount
                            </h1>
                            <p class="mb-65">Save up to 50% off on your first order</p>
                        </div>
                    </div>
                </div>
                <!--s<div class="slider-arrow hero-slider-1-arrow"></div>-->
            </div>
        </section>
        <!--End hero slider-->
		<section class="product-tabs section-padding position-relative">
            <div class="container">
                <div class="section-title style-2 wow animate__animated animate__fadeIn">
					<div class="container wow animate__animated animate__fadeIn">
						<div class="section-title">
		                    <h3>멘토링 공고</h3>
		                    <a class="show-all" href="/mentoring/notice">
		                        All
		                        <i class="fi-rs-angle-right"></i>
		                    </a>
		                </div>
		            </div>
                </div>
                <!--End nav-tabs-->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                        <div class="row product-grid-4">  
                            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6" th:each="nl : ${noticeList}">
                                <div class="product-cart-wrap mb-30 wow animate__animated animate__fadeIn" data-wow-delay=".3s" style="height: 200px; display: flex; flex-direction: column; justify-content: space-between;">                                  
                                    <div class="product-img-action-wrap">
	                                    <div class="product-badges product-badges-position product-badges-mrg">
	                                        <span class="hot" th:if="${nl.honorMentor == 'Y'}">명예멘토</span>
	                                        <span class="new" th:unless="${nl.honorMentor == 'Y'}">일반멘토</span>
	                                    </div>
                               	 	</div>
                                    <div class="product-content-wrap">
                                        <div class="product-category"><h2 th:text="${nl.noticeTitle}"></h2></div>
	                                    <div>
											<div class="font-small text-muted" th:text="${'분야 : ' + nl.topicName}"></div>
											<div class="font-small text-muted" th:text="${'직무 : ' + nl.mentorPowkName}"></div>
											<div class="font-small text-muted" th:text="${'By : ' + nl.memberName}"></div>
	                                    </div>
	                                    <div class="product-card-bottom" style="margin-top:auto; text-align: center;">
	                                        <div class="add-cart">
	                                            <a class="add" th:href="@{/mentoring/noticeDetail(noticeCode=${nl.noticeCode})}"><i class="fi-rs-shopping-cart mr-5"></i>Detail </a>
	                                        </div>
	                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		
		<section class="popular-categories section-padding">
            <div class="container">
                <div class="section-title">
                    <div class="title">
                        <h3>명예멘토</h3>
                        <a class="show-all" href="/honor/mentorList">
                            more
                            <i class="fi-rs-angle-right"></i>
                        </a>
                    </div>
                    <div class="slider-arrow slider-arrow-2 flex-right carausel-4-columns-arrow" id="carausel-4-columns-arrows"></div>
                </div>
                <div class="carausel-4-columns-cover position-relative">
                    <div class="carausel-4-columns" id="carausel-4-columns">
                        <div class="card-1" th:each="hm : ${honorMentorList}">
                            <div class="product-cart-wrap">
                                <div class="product-img-action-wrap">
                                    <div class="product-badges product-badges-position product-badges-mrg">
                                        <span class="hot">명예멘토</span>
                                    </div>
                                </div>
                                <div class="product-img product-img-zoom">
                                <div>
                                    <img class="default-img" src="/manager/imgs/people/user-avatar.png" alt="user" />
                                </div>
                            	</div>
                                <div class="product-content-wrap">
                                    <div class="product-category">
                                        <label th:text="${hm.mentorId}">멘토 아이디</label>
                                    </div>
                                    <h2 th:text="${hm.mentorName}">이름</h2>
                                    <div class="product-rate d-inline-block" >
                                        <div class="product-rating" th:style="'width:' + (${hm.mentorReviewDate} * 20) + '%'"></div>
                                        <label th:text="${hm.mentorReviewDate}"></label>
                                    </div>
                                    <div class="mt-10 mb-10">
                                        <span class="font-small text-muted" th:text=${hm.mentorEmail}>이메일</span>
                                    </div>
                                    
                                    <div class="btn w-100 hover-up">info detail <i class="fi-rs-sign-out mr-5"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
	
		
	</th:block>
	<th:block layout:fragment="customJs">
		<script>
		
		</script>
	</th:block>
</html>