<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{member/layouts/layout}">
	<!--<th:block layout:fragment="registerMentorModalFragment" th:replace="~{member/fragments/registerMentorModal :: registerMentorModalFragment}"></th:block>-->
	<th:block layout:fragment="customJs">
		<script>
			let totalCareerDays = 0;
			
			/* 커리어 항목 추가 --------------------------------------------------------------------------------- */
			let rowCount = 1;
			$(document).on('click', '.add-btn', function(){
				if(rowCount <= 10 && rowCount>=1){
					rowCount ++;
					
					const $copyCareerRow = $('.careerRows').last().clone(true);
					$copyCareerRow.find('input').val('');
					const idx = Number($copyCareerRow[0].dataset.idx);
					$copyCareerRow[0].dataset.idx = idx + 1; 
					
					$copyCareerRow.hide();
					$('.careerRows').last().after($copyCareerRow);
					$copyCareerRow.fadeIn(300);
				
				}else{
					alert("항목은 10개까지 등록할 수 있습니다.");
				return ;
				}
			});

			
			/* 커리어 삭제 --------------------------------------------------------------------------------- */
			$(document).on('click', '.del-btn', function(){
				if(rowCount <= 1){
					alert("첫 항목은 삭제할 수 없습니다.");
					return ;
				}else{
					rowCount --;
					
					// 삭제할 항목의 일수 빼기
					const daysToRemove = Number($(this).closest('.careerRows').find('input[name="carrerTime"]').val());
					totalCareerDays -= daysToRemove;

					// 총 일수 표시 업데이트
					updateTotalCareerDaysDisplay();
					
					// 사라짐 효과
					$(this).closest('.careerRows').fadeOut(200, function(){
					$(this).remove();
					});
					}
				});			
				
			
			/* 모달값 가져오기 ---------------------------------------------------------------------------------  */
			$(document).on('click', '.modal-btn', function(){
				$('#registerMentorModal')[0].dataset.targetIdx = this.closest('.careerRows').dataset.idx;
				$('#registerMentorModal').modal('show');
			});
			
			$('#careerSubmitBtn').on('click', function(){
				
				const idx = Number($('#registerMentorModal')[0].dataset.targetIdx);
				const careerCorporateName = $('#careerCorporateName').val();				
				const careerWork = $('#careerWork').val();
				const joinCareer = $('#joinCareer').val();			
				const quiteCareer = $('#quiteCareer').val();			
				
				const getCareerDays = function(joinCareer, quiteCareer){
					let startDate = new Date(joinCareer);
					let endDate = new Date(quiteCareer);
					let diffTime = endDate.getTime() - startDate.getTime();
					    
				    // 밀리초 일 단위로 변환
				    let diffDays = diffTime / (1000 * 60 * 60 * 24);
					
				    return diffDays;
				};
				
				// 기존 일수 제거
				const existingDays = Number($('.careerRows').eq(idx).find('input[name="carrerTime"]').val());
				totalCareerDays -= existingDays;
				
				
				// 근무일수 계산		
				const calculatedCareerDays = getCareerDays(joinCareer, quiteCareer);
				

				// 누적 일수에 추가
				totalCareerDays += calculatedCareerDays;
				
				// 누적일수 업데이트
				updateTotalCareerDaysDisplay();
				
				// 누적 일수를 Number로 변경
				const numCareerDays = Number(totalCareerDays);
				console.log(numCareerDays);
				

				/*근무 경력 730일 이상 검증*/
				const $continueBtn = document.getElementById('continueBtn');

					if (numCareerDays >= 730) {
						// console.log("730 이상");
						$('#continueBtn').text('회원가입 계속하기');
				    	$continueBtn.disabled = false;
						$('#continueBtn').css('background-color', '#3BB77E');
						
					} else if (numCareerDays <730) {
						// console.log("730 미만");
						$('#continueBtn').text('경력이 충분하지 않습니다.');
					    $continueBtn.disabled = true;
						$('#continueBtn').css('background-color', 'gray');
					}
				
				 
				// 각자의 빈칸에 값 할당
				$('.careerRows').eq(idx).find('input[name="careerCorporateName"]').val(careerCorporateName);
				$('.careerRows').eq(idx).find('input[name="careerWork"]').val(careerWork);
				$('.careerRows').eq(idx).find('input[name="carrerTime"]').val(getCareerDays(joinCareer, quiteCareer));
				
				$('#registerMentorModal').find('input, select').val('');
				$('#registerMentorModal').modal('hide');

			});
			
			/*누적 근무경력 일수 합계 계산 --------------------------------------------------------------------------------- */
			function updateTotalCareerDaysDisplay() {
			    return $('#careerDays').text(totalCareerDays);
			}

					
		</script>
		<th:block th:insert="~{member/register/modal/registerMentorModal :: modalJs}"></th:block>
	</th:block>
	<th:block layout:fragment="customContent">
		<section class="content-main mt-40 mb-40 my-2">
          <div class="card-body container col-5 my-2">
            <h3 class="mb-20 mt-40 text-brand justify-content-center text-center">멘토 권한으로 계정 생성</h3>
				<div>
				    <p class="text-center mb-2">이미 계정을 가지고 있으신가요? <a href="/member/login"> &nbsp; 로그인하러 가기</a></p>
				</div>
				     <h5 class="mb-20 mt-50">Step 1. 근무 경력을 등록해 주세요</h5>
						 <div class="careerRows d-flex justify-content-center align-items-center mt-20" data-idx="0">
							<input name="careerCorporateName" type="text" class="ml-10 career-corporate-name" readonly/>
							<input name="careerWork" type="text" class="ml-10 career-work" readonly/>
							<input name="carrerTime" type="text" class="ml-10 carrer-time" readonly/>
								<button type="button" class="btn btn-block w-90 ml-20 modal-btn" style="background-color: #3BB77E;">enter</button>
								<button type="button" class="btn btn-block w-90 ml-10 del-btn" style="background-color: #cc7171;">delete</button>
				                <button type="button" class="btn ml-10 add-btn" style="background-color: darkgray;">+</button>
						 </div>
					 	<div class="d-flex justify-content-center align-items-center p-40">
							<span>총 근무 경력 : </span>
							<h4 id="careerDays" class="text-brand mb-5 d-inline mb-0 ml-10"></h4>
							<span>days</span>
						</div>
               	<div id="continue" class="mb-10 d-flex justify-content-center">
					<div>
    	              	<button id="continueBtn" type="button" class="btn btn-block w-80" th:onclick="|location.href='@{/register/mentor2}'|" disabled>회원가입 계속하기</button>
					</div>
				</div>
           </div>
		</section>
		<th:block th:insert="~{member/register/modal/registerMentorModal :: registerMentorModalFragment}"></th:block>
	</th:block>
</html>