<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{member/layouts/layout}">
    <!--/* 기존 class는 main pages...  pages 누락 시 문제 없음
    	<main class="main pages"layout:fragment="content"> */-->
    <th:block layout:fragment="customContent">
        <div class="page-content pt-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 mx-auto text-center">
                        <h1 class="title heading-1 style-3 mb-40"><span class="text-brand">회원가입</span> 바로 하기</h1>
                        <p class="font-xl mb-80">멘티 및 멘토 권한으로 회원가입하여 플랫폼의 모든 기능을 이용해 보세요.</p>
                    </div>
                    <div class="col-xl-10 col-lg-12 m-auto">
                        <section class="text-center mb-50">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 mb-24">
									<a href="/register/mentor1">
	                                    <div class="featured-card">
	                                        <img src="/member/imgs/theme/icons/icon-1.svg" alt="" />
	                                        <h4>멘토 회원가입</h4>
	                                        	<p>플랫폼 내부 기준에 따라 경력 자료 심사 후 멘토 권한을 부여합니다.</p>
	                                    </div>
									</a>
                                </div>
                                <div class="col-lg-6 col-md-6 mb-24">
									<a href="/register/mentee">
                                    	<div class="featured-card">
                                        	<img src="/member/imgs/theme/icons/icon-2.svg" alt="" />
                                        	<h4>멘티 회원가입</h4>
                                        	<p>멘티 권한으로 가입합니다.</p>
                                        	<p></p>
                                    	</div>
									</a>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</html>