<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{manager/layouts/layout}">
	  <th:block layout:fragment="customContent">
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title" th:text="${title}"></h2>
                    </div>
                </div>
                <div class="card mb-4">
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>회원ID</th>
                                        <th>회원이메일</th>
                                        <th>회원이름</th>
                                        <th>회원연락처</th>
                                        <th>가입일자</th>
                                    </tr>
                                </thead>
                                <tbody>
	                                <tr th:each="ml : ${honorMentorList.contents}">
                                        <td th:text="${ml.memberId}"></td>
                                        <td th:text="${ml.memberEmail}"></td>
                                        <td th:text="${ml.memberName}"></td>
                                        <td th:text="${ml.memberTelNo}"></td>
										<td th:text="${ml.memberJoinYMD}"></td>
									</tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive//end -->
                    </div>
                    <!-- card-body end// -->
                </div>
                <div class="pagination-area mt-30 mb-50">
                  <nav aria-label="Page navigation example">
				    <ul class="pagination justify-content-start">
				    	<li class="page-item" th:classappend="${honorMentorList.currentPage < 2}? 'disabled'">
							<a class="page-link d-flex justify-content-center align-items-center" th:href="@{/manager/honor/list(currentPage=${honorMentorList.currentPage - 1})}"><i class="material-icons md-chevron_left"></i></a>
						</li>
				        <th:block th:each="num : ${#numbers.sequence(honorMentorList.startPageNum, honorMentorList.endPageNum)}">
				            <li class="page-item"
				                th:classappend="${honorMentorList.currentPage == num} ? 'active'">
				                <a class="page-link" th:href="@{/manager/honor/list(currentPage=${num})}">[[${num}]]</a>
				            </li>
				        </th:block>
				        <li class="page-item" th:classappend="${honorMentorList.currentPage >= honorMentorList.lastPage} ? 'disabled'">
				            <a class="page-link d-flex justify-content-center align-items-center" th:href="@{/manager/honor/list(currentPage=${honorMentorList.currentPage + 1})}"><i class="material-icons md-chevron_right"></i></a>
				        </li>
				    </ul>
				</nav>
            </div>
		</section>
      <!-- content-main end// -->
      </th:block>
</html>
