<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{manager/layouts/layout}">
	  
	  	<th:block layout:fragment="customContent">
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title" th:text="${title}"></h2>
                        <p>멘티의 명예멘토 기준 (평점 평균과 평점 개수, 플랫폼 내 기준) 충족 시 승인 버튼 활성화 후 명예멘토로 승인</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
							<table class="table table-hover text-center">
                               <thead>
                                   <tr>
                                       <th>멘토 ID</th>
                                       <th>권한</th>
                                       <th>후기 개수</th>
                                       <th>후기 평점 평균</th>
                                       <th>기준 충족 여부</th>
                                       <th>명예멘토 승인</th>
                                       <th>명예멘토 취소</th>
                                   </tr>
                               </thead>
                               <tbody>
									<tr th:each="mrd : ${mentorReviewsDataList.contents}"
									    th:attr="data-is-honor-mentor=${mrd.isHonorMentor}" 
									    th:attrappend="data-is-approve=${mrd.isapprove}">
									    <td id="memberId" class="memberId" th:text="${mrd.mentorId}"></td>
									    <th:block th:switch="${mrd.isHonorMentor}">
									        <td th:case="${'Y'}"><span th:text="${'명예멘토'}" class="badge rounded-pill alert-primary"></span></td>
									        <td th:case="${'N'}"><span th:text="${'일반멘토'}" class="badge rounded-pill alert-secondary"></span></td>
									    </th:block>
									
									    <td th:text="${mrd.mentorReviewCnt}"></td>
									    <td th:text="${mrd.mentorReviewAvg}">5</td>
									    <th:block th:switch="${mrd.isapprove}">
									        <td th:case="${true}"><span class="badge rounded-pill alert-success">충족</span></td>
									        <td th:case="${false}"><span class="badge rounded-pill alert-danger">미달</span></td>
									    </th:block>
									    <td>
									        <a th:href="@{/manager/honor/approve(memberId=${mrd.mentorId})}" class="approveBtn btn btn-md rounded font-sm" th:classappend="${mrd.isCancel == true ? 'disabled' : ''}">승인</a>
									    </td>
									    <td>
									        <a th:href="@{/manager/honor/cancel(memberId=${mrd.mentorId})}" class="cancelBtn btn btn-md rounded font-sm" th:classappend="${mrd.isapprove == true ? 'disabled' : ''}">취소</a>
									    </td>
									</tr>
                               </tbody>
                           </table>
                        </div>
                        <!-- table-responsive//end -->
                    </div>
                    <!-- card-body end// -->
                </div>
                <div class="pagination-area mt-30 mb-50">
                  <nav aria-label="Page navigation example">
				    <ul class="pagination justify-content-start">
				    	<li class="page-item" th:classappend="${mentorReviewsDataList.currentPage < 2}? 'disabled'">
							<a class="page-link d-flex justify-content-center align-items-center" th:href="@{/manager/honor/criteriaList(currentPage=${mentorReviewsDataList.currentPage - 1})}"><i class="material-icons md-chevron_left"></i></a>
						</li>
				        <th:block th:each="num : ${#numbers.sequence(mentorReviewsDataList.startPageNum, mentorReviewsDataList.endPageNum)}">
				            <li class="page-item"
				                th:classappend="${mentorReviewsDataList.currentPage == num} ? 'active'">
				                <a class="page-link" th:href="@{/manager/honor/criteriaList(currentPage=${num})}">[[${num}]]</a>
				            </li>
				        </th:block>
				        <li class="page-item" th:classappend="${mentorReviewsDataList.currentPage >= mentorReviewsDataList.lastPage} ? 'disabled'">
				            <a class="page-link d-flex justify-content-center align-items-center" th:href="@{/manager/honor/criteriaList(currentPage=${mentorReviewsDataList.currentPage + 1})}"><i class="material-icons md-chevron_right"></i></a>
				        </li>
				    </ul>
				</nav>
            </div>
		</section>
      <!-- content-main end// -->
	</th:block>
	<th:block layout:fragment="customJs">
		<script>
			
			function checkHonorMentorStatus(memberId, isCheck, msg) {
			    return $.ajax({
			        url: '/manager/honor/isCheck',
			        type: 'POST',
			        data: { "memberId": memberId },
			        dataType: 'text'
			    }).done(function(data) {
			        if (data === isCheck) {
			            alert(msg);
			        }
			    }).fail(function(jqXHR, textStatus, error) {
			        console.log(error);
			    });
			}
			
			$('.approveBtn').click(function() {
			    
			    const memberId = $(this).closest('tr').find('.memberId').text().trim();
			    checkHonorMentorStatus(
			        memberId, 
			        'Y', 
			        "현재 명예멘토인 회원입니다."
			    );
			});

			$('.cancelBtn').click(function() {
			    
			    const memberId = $(this).closest('tr').find('.memberId').text().trim();
			    checkHonorMentorStatus(
			        memberId, 
			        'N', 
			        "현재 일반멘토인 회원입니다."
			    );
			});
			
			$('tr').each(function() {
		        const isHonorMentor = $(this).data('is-honor-mentor');  
		        const isApprove = $(this).data('is-approve');           

		        if (isHonorMentor === 'Y' && isApprove === false) {
		            $(this).addClass('border border-danger border-2 shadow-sm p-3 mb-5 bg-body');
		        } else if (isHonorMentor === 'N' && isApprove === true) {
		            $(this).addClass('border border-success border-2 shadow-sm p-3 mb-5 bg-body');
		        }
		    });
		
		</script>
	</th:block>
</html>
